{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "partials/layout.njk" %}

{% set fullWidth = true %}
{% set title =  "Are you sure you want to cancel and delete this " + jouneyType + "?" %}
{% set pageTitle = title + " - " + journeyCaption %}

{% block innerContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{ journeyCaption }}</span>
      <h1 class="govuk-heading-l govuk-!-margin-bottom-7">{{ title }}</h1>

      <p>If you choose not to {{ action }}, you will lose the information you have entered.</p>

      <p>If you {{ action }} in future, you’ll need to enter the information again.</p>

      <div class="govuk-button-group">
        <form method="post">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
          {{ govukButton({
                text: "Yes, cancel this screening",
                preventDoubleClick: true,
                classes: "govuk-button--warning"
            }) }}
          {{ govukButton({
                text: "No, return to check answers",
                href: 'check-answers',
                classes: "govuk-button--secondary",
                preventDoubleClick: true
            }) }}
        </form>
      </div>
    </div>
  </div>

{% endblock %}
