{% from "govuk/components/pagination/macro.njk" import govukPagination %}

{% macro simplePagination(totalPages, currentPage, hrefTemplate = '?page={page}') %}
    {% if totalPages > 1 %}
        {% set previous = undefined if currentPage <= 1 else ({ href: hrefTemplate | replace('{page}', currentPage - 1) }) %}
        {% set next = undefined if currentPage >= totalPages else ({ href: hrefTemplate | replace('{page}', currentPage + 1) }) %}

        {% set items = [] %}
        {% for page in range(1, totalPages + 1) %}
            {% set items = (items.push({
                number: page,
                current: page === currentPage,
                href: hrefTemplate | replace ('{page}', page)
            }), items) %}
        {% endfor %}

        {{ govukPagination({
            previous: previous,
            next: next,
            items: items
        }) }}
    {% endif %}
{% endmacro %}