{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "partials/layout.njk" %}

{% set pageTitle = "Why the behaviour occurred - Record a CSIP investigation" %}

{% block innerContent %}
    <span class="govuk-caption-l">Record a CSIP investigation</span>
    <label for="occurrenceReason">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Why did the behaviour occur?</h1>
    </label>
    <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
        {{ govukCharacterCount({
            maxlength: 4000,
            rows: 5,
            threshold: "75",
            id: "occurrenceReason",
            name: "occurrenceReason",
            value: occurrenceReason,
            errorMessage: validationErrors | findError('occurrenceReason'),
            hint: {
                html: "Include any reasons the prisoner has given about why the behaviour occured.</br>You can also include reasons reported by other people."
            }
        }) }}
        {{ govukButton({
            text: "Continue",
            preventDoubleClick: true
        }) }}
    </form>
{% endblock %}