{% extends "govuk/template.njk" %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "hmpps/components/mini-profile/macro.njk" import miniProfile %}

{% block head %}
  <link href="/assets/css/app.css?{{ version }}" rel="stylesheet"/>

  {% for js in feComponents.jsIncludes %}
    <script src="{{ js }}" nonce="{{ cspNonce }}"></script>
  {% endfor %}

  {% for css in feComponents.cssIncludes %}
    <link href="{{ css }}" nonce="{{ cspNonce }}" rel="stylesheet" />
  {% endfor %}
{% endblock %}

{% block pageTitle %}{{pageTitle | default(applicationName)}}{% endblock %}

{% block header %}
  {{ feComponents.header | safe }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {% if backUrl %}
    {{ govukBackLink({
      text: "Back",
      href: backUrl
    }) }}
  {% endif %}

  {% if showBreadcrumbs and breadcrumbs and (not backUrl) %}
    <div class="csip-breadcrumbs govuk-!-display-none-print">
      <div class="csip-breadcrumbs__breadcrumbs">
        {{ govukBreadcrumbs({
          items: breadcrumbs.items
        }) }}
      </div>
    </div>
  {% endif %}

  {% include './beforeContent.njk' %}

  {% if prisoner %}
    {{ miniProfile(prisoner, '/prisoner-image/' + prisoner.prisonerNumber, digitalPrisonServicesUrl + '/prisoner/' + prisoner.prisonerNumber) }}
  {% endif %}

{% endblock %}

{% block bodyStart %}
{% endblock %}

{% block footer %}
  {{ feComponents.footer | safe }}
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="/assets/js/app.js"></script>
  {# Javascript block for individual pages #}
  {% block additionalScripts %}
  {% endblock %}
{% endblock %}
