{% extends "govuk/template.njk" %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "partials/miniProfile/macro.njk" import miniProfile %}

{% block head %}
  <link href="{{ '/assets/css/app.css' | assetMap }}" rel="stylesheet"/>

  {% for js in feComponents.jsIncludes %}
    <script src="{{ js }}" nonce="{{ cspNonce }}"></script>
  {% endfor %}

  {% for css in feComponents.cssIncludes %}
    <link href="{{ css }}" nonce="{{ cspNonce }}" rel="stylesheet" />
  {% endfor %}

  {% if appInsightsConnectionString %}
    <script type="text/javascript" src="/assets/applicationinsights-web.min.js"  nonce="{{ cspNonce }}"></script>
    <script type="text/javascript" src="/assets/applicationinsights-clickanalytics-js.min.js"  nonce="{{ cspNonce }}"></script>
    <script type="text/javascript" nonce="{{ cspNonce }}">
      var clickPluginInstance = new Microsoft.ApplicationInsights.ClickAnalyticsPlugin();
      // Click Analytics configuration
      var clickPluginConfig = {
          autoCapture : true,
          dataTags: {
              useDefaultContentNameOrId: true
          }
      }
      var snippet = {
        config: {
          connectionString: "{{ appInsightsConnectionString }}",
          extensions: [
                clickPluginInstance
            ],
          extensionConfig: {
                [clickPluginInstance.identifier] : clickPluginConfig
            },
          autoTrackPageVisitTime: true
        }
      }
      var init = new Microsoft.ApplicationInsights.ApplicationInsights(snippet)
      var appInsights = init.loadAppInsights();
      appInsights.addTelemetryInitializer(function (envelope) {
          envelope.tags["ai.cloud.role"] = "{{ applicationName }}"
          envelope.tags["ai.application.ver"] = "{{ buildNumber }}"
        });
      appInsights.trackPageView();
    </script>
  {% endif %}
{% endblock %}

{% set errorPrefix = 'Error: ' if validationErrors else '' %}
{% block pageTitle %}{{errorPrefix}}{{pageTitle | default(applicationName)}} - DPS{% endblock %}

{% block header %}
  {{ feComponents.header | safe }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {% if backUrl %}
    {{ govukBackLink({
      text: "Back",
      href: backUrl
    }) }}
  {% endif %}

  {% if showBreadcrumbs and breadcrumbs and (not backUrl) %}
    <div class="csip-breadcrumbs govuk-!-display-none-print">
      <div class="csip-breadcrumbs__breadcrumbs">
        {{ govukBreadcrumbs({
          items: breadcrumbs.items
        }) }}
      </div>
    </div>
  {% endif %}

  {% include './beforeContent.njk' %}

  {% if prisoner %}
    {{ miniProfile(prisoner, '/prisoner-image/' + prisoner.prisonerNumber, prisonerProfileUrl + '/prisoner/' + prisoner.prisonerNumber) }}
  {% endif %}

  {% block pageHeader %}{% endblock %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="{% if fullWidth %}govuk-grid-column-full{% else %}govuk-grid-column-two-thirds{% endif %}">
      {% block innerContent %}{% endblock %}
    </div>
  </div>
{% endblock %}

{% block bodyStart %}
{% endblock %}

{% block footer %}
  {{ feComponents.footer | safe }}
{% endblock %}

{% block bodyEnd %}
  {% if sentry and sentry.loaderScriptId %}
    <script nonce="{{ cspNonce }}">
      window.sentryOnLoad = function() {
        Sentry.init({
          release: "hmpps-challenge-support-intervention-plan-ui@{{ version }}",
          environment: "{{ sentry.environment }}",
          tracesSampleRate: {{ sentry.tracesSampleRate }},
          replaysSessionSampleRate: {{ sentry.replaySampleRate }},
          replaysOnErrorSampleRate: {{ sentry.replayOnErrorSampleRate }},
          initialScope: {
            user: { username: "{{ user.username }}" },
          },
        });
      };
    </script>
    <script src="https://js.sentry-cdn.com/{{ sentry.loaderScriptId }}.min.js" nonce="{{ cspNonce }}" crossorigin="anonymous"></script>
  {% endif %}
  <script type="module" src="{{ '/assets/js/app.js' | assetMap }}"></script>
  {# Javascript block for individual pages #}
  {% block additionalScripts %}
  {% endblock %}
{% endblock %}
