{% extends "govuk/template.njk" %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "hmpps/components/mini-profile/macro.njk" import miniProfile %}

{% block head %}
  <link href="/assets/css/app.css?{{ version }}" rel="stylesheet"/>

  {% for js in feComponents.jsIncludes %}
    <script src="{{ js }}" nonce="{{ cspNonce }}"></script>
  {% endfor %}

  {% for css in feComponents.cssIncludes %}
    <link href="{{ css }}" nonce="{{ cspNonce }}" rel="stylesheet" />
  {% endfor %}
{% endblock %}

{% block pageTitle %}{{pageTitle | default(applicationName)}} - DPS{% endblock %}

{% block header %}
  {{ feComponents.header | safe }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {% if backUrl %}
    {{ govukBackLink({
      text: "Back",
      href: backUrl
    }) }}
  {% endif %}

  {% if showBreadcrumbs and breadcrumbs and (not backUrl) %}
    <div class="csip-breadcrumbs govuk-!-display-none-print">
      <div class="csip-breadcrumbs__breadcrumbs">
        {{ govukBreadcrumbs({
          items: breadcrumbs.items
        }) }}
      </div>
    </div>
  {% endif %}

  {% include './beforeContent.njk' %}

  {% if prisoner %}
    {{ miniProfile(prisoner, '/prisoner-image/' + prisoner.prisonerNumber, digitalPrisonServicesUrl + '/prisoner/' + prisoner.prisonerNumber) }}
  {% endif %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="{% if fullWidth %}govuk-grid-column-full{% else %}govuk-grid-column-two-thirds{% endif %}">
      {% block innerContent %}{% endblock %}
    </div>
  </div>
{% endblock %}

{% block bodyStart %}
{% endblock %}

{% block footer %}
  {{ feComponents.footer | safe }}
{% endblock %}

{% block bodyEnd %}
  {% if sentry and sentry.loaderScriptId %}
    <script nonce="{{ cspNonce }}">
      window.sentryOnLoad = function() {
        Sentry.init({
          release: "hmpps-manage-a-supervision-ui@{{ version }}",
          environment: "{{ sentry.environment }}",
          tracesSampleRate: {{ sentry.tracesSampleRate }},
          replaysSessionSampleRate: {{ sentry.replaySampleRate }},
          replaysOnErrorSampleRate: {{ sentry.replayOnErrorSampleRate }},
          initialScope: {
            user: { username: "{{ user.username }}" },
          },
        });
      };
    </script>
    <script src="https://js.sentry-cdn.com/{{ sentry.loaderScriptId }}.min.js" nonce="{{ cspNonce }}" crossorigin="anonymous"></script>
  {% endif %}
  <script type="module" src="/assets/js/app.js"></script>
  {# Javascript block for individual pages #}
  {% block additionalScripts %}
  {% endblock %}
{% endblock %}
