{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "partials/layout.njk" %}

{% set pageTitle = "Description - Make a CSIP referral" %}

{% set headerText = 'Describe the behaviour and concerns' if isProactiveReferral else 'Describe the incident and concerns' %}
{% set detailsHtml = '
            <p>The description could include: </p>
            <ul>
                <li>a summary of the concerns</li>
                <li>information from OASys or other records</li>
                <li>observations of behaviour in custody</li>
            </ul>
            ' if isProactiveReferral else '
            <p>The description could include: </p>
            <ul>
              <li>a summary of the incident</li>
              <li>information about the incident report (if one has been made)</li>
              <li>the concerns relating to the incident</li>
              <li>observations of behaviour in custody</li>
            </ul>
            ' %}

{% block innerContent %}
    <span class="govuk-caption-l">Make a CSIP referral</span>
    <label for="descriptionOfConcern">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-7">{{ headerText }}</h1>
    </label>
    <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
        {{ govukDetails({
            summaryText: "What type of information to include",
            html: detailsHtml
        }) }}
        {{ govukCharacterCount({
            maxlength: 4000,
            rows: 5,
            threshold: "75",
            id: "descriptionOfConcern",
            name: "descriptionOfConcern",
            value: descriptionOfConcern,
            errorMessage: validationErrors | findError('descriptionOfConcern')
        }) }}
        {{ govukButton({
            text: "Continue",
            preventDoubleClick: true
        }) }}
    </form>
{% endblock %}