{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "partials/submitButton/macro.njk" import submitButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% extends "partials/layout.njk" %}

{% set keyword = 'behaviour' if isProactiveReferral else 'incident' %}
{% set headerText = (['Add information to the description of the ', keyword, ' and concerns'] | join) if isUpdate else (['Describe the ', keyword, ' and the concerns relating to the ', keyword] | join) %}
{% set flowName = "Update a CSIP referral" if isUpdate else "Make a CSIP referral" %}
{% set pageTitle = [headerText, " - ", flowName] | join %}
{% set detailsHtml = '
            <p>The description could include: </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>a summary of the concerns</li>
                <li>information from OASys or other records</li>
                <li>observations of behaviour in custody</li>
            </ul>
            ' if isProactiveReferral else '
            <p>The description could include: </p>
            <ul class="govuk-list govuk-list--bullet">
              <li>a summary of the incident</li>
              <li>information about the incident report (if one has been made)</li>
              <li>the concerns relating to the incident</li>
              <li>observations of behaviour in custody</li>
            </ul>
            ' %}

{% block innerContent %}
    {% include 'base/components/referral-caption.njk' %}
    <label for="descriptionOfConcern">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-7">{{ headerText }}</h1>
    </label>
    <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
        {% if not isUpdate %}
        {{ govukDetails({
            summaryText: "What type of information to include",
            html: detailsHtml
        }) }}
        {% endif %}
        {% if isUpdate and currentDescriptionOfConcern %}
            {{ govukInsetText({
                html: currentDescriptionOfConcern | escape | boldAppendStamp | nl2br
            }) }}
        {% endif %}
        {{ govukCharacterCount({
            maxlength: maxLengthChars,
            rows: 5,
            threshold: threshold or "75",
            id: "descriptionOfConcern",
            name: "descriptionOfConcern",
            value: descriptionOfConcern,
            errorMessage: validationErrors | findError('descriptionOfConcern')
        }) }}
        {{ submitButton({
            text: "Confirm and save" if isUpdate else "Continue",
            alternativeHyperlinkHref: isUpdate and ("/csip-records/" + recordUuid)
        }) }}
    </form>
{% endblock %}
