{% extends "../../../views/pages/index.njk" %}

{% block content %}

  <h1>Referrals (On Behalf Of) asdadasdwq is under construction...</h1>
  <p>Please check back later when there is content to view.</p>
  
  <form method="POST">
    {# <input id="foo" name="foo" value="asd" /> #}
    <button type="submit">Submit</button>
  </form>
{% endblock %}
