{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% set pageTitle = "Make a CSIP referral - DPS" %}
{% extends "partials/layout.njk" %}

{% block innerContent %}
  <h1 class="govuk-heading-l">Make a CSIP referral</h1>

  <p>You can use this service to refer {{ (prisoner.firstName + ' ' + prisoner.lastName) | convertToTitleCase }} for a Challenge, Support and Intervention Plan (CSIP).</p>

  {{ govukDetails({
      summaryText: "Help with CSIP referrals",
      html: '
              <p>Check your local guidance for information on CSIP procedures at your establishment.</p>
              <p>Contact the Safer Custody team with any questions or if you need support to use this service.</p>
            '
  }) }}

  <form method="POST">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
    {{ govukRadios({
        name: "isOnBehalfOfReferral",
        fieldset: {
            legend: {
                text: "Are you making this referral on someone else's behalf?",
                classes: "govuk-fieldset__legend--m"
            }
        },
        items: [
          {
            value: true,
            text: "Yes",
            checked: isOnBehalfOfReferral === true
          },
          {
            value: false,
            text: "No",
            checked: isOnBehalfOfReferral === false
          }
        ],
        errorMessage: validationErrors | findError('isOnBehalfOfReferral')
    }) }}
    {{ govukButton({
        text: "Continue"
    }) }}
  </form>
{% endblock %}
