{% extends "../../../views/pages/index.njk" %}

{% block content %}

  <h1>Referrals (On Behalf Of) asdadasdwq is under construction...</h1>
  <p>Please check back later when there is content to view.</p>
  
  <form method="POST">
    <label for="foo">Foo</label>
    <input id="foo" type="text" value="" />
    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
    <button type="submit">Submit</button>
  </form>
{% endblock %}
