{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% extends "partials/layout.njk" %}

{% set pageTitle = "Initial plan recorded" %}

{% block innerContent %}
    {{ govukPanel({
        titleText: "Initial plan recorded for " + prisoner | firstNameSpaceLastName,
        text: "Status: CSIP open"
    }) }}
    <h1 class="govuk-heading-m">How to keep this plan up to date</h1>
    <p>Use this service to:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>record actions and progress on the identified needs</li>
        <li>add, update and close identified needs as targets change or are met</li>
        <li>change the Case Manager, reason for the plan and next review date</li>
    </ul>

    {% include 'base/components/view-other-csips.njk' %}
{% endblock %}
