{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% extends "partials/layout.njk" %}

{% set pageTitle = "CSIP referral complete" %}

{% block innerContent %}
    {{ govukPanel({
        titleText: "CSIP referral complete",
        text: "Status: Referral submitted"
    }) }}
    <h1 class="govuk-heading-m">What happens next</h1>
    <p class="govuk-body">The referral has been submitted to the Safer Custody team.</p>
    <p class="govuk-body">They might contact you:</p>
    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>if they need more information to make a decision on next steps</li>
        <li>to provide guidance on actions if the referral does not progress to an investigation or a plan</li>
    </ul>

    {% include 'base/components/view-other-csips.njk' %}
{% endblock %}