{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "partials/layout.njk" %}

{% set pageTitle = "Reasons - Make a CSIP referral" %}

{% set headerText = 'What reasons have been given for the behaviour?' if isProactiveReferral else 'What reasons have been given for the incident?' %}

{% block innerContent %}
    <span class="govuk-caption-l">Make a CSIP referral</span>
    <label for="knownReasons">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-7">{{ headerText }}</h1>
    </label>
    <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
        {{ govukCharacterCount({
            hint: {
                text: 'Include any reasons the prisoner has given about why the behaviour has occurred. You can also include reasons reported by other people.' if isProactiveReferral else 'Include any reasons the prisoner has given about why the incident occurred. You can also include reasons reported by other people.'
            },
            maxlength: 4000,
            rows: 5,
            threshold: "75",
            id: "knownReasons",
            name: "knownReasons",
            value: knownReasons,
            errorMessage: validationErrors | findError('knownReasons')
        }) }}
        {{ govukButton({
            text: "Continue",
            preventDoubleClick: true
        }) }}
    </form>
{% endblock %}