{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "partials/submitButton/macro.njk" import submitButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% extends "partials/layout.njk" %}

{% set pageTitle = "Add " + ('more' if isUpdate else 'any') + " comments on next steps - " + ('Update' if isUpdate else 'Record') + " a CSIP investigation decision" %}

{% block innerContent %}
    {% include 'base/components/decision-caption.njk' %}
    <label for="nextSteps">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Add {{'more' if isUpdate else 'any'}} comments on next steps{{'' if isUpdate else ' (optional)'}}</h1>
    </label>
    <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
        {% if currentNextSteps %}
            {{ govukInsetText({
                html: currentNextSteps | escape | boldAppendStamp | nl2br
            }) }}
        {% endif %}
        {{ govukCharacterCount({
            maxlength: maxLengthChars or 4000,
            rows: 5,
            threshold: threshold or "75",
            id: "nextSteps",
            name: "nextSteps",
            value: nextSteps,
            hint: {
                classes: 'govuk-!-margin-bottom-7',
                html: '
            <p>Actions to consider include: </p>
            <ul class="govuk-body">
                <li>opening a CSIP alert</li>
                <li>updating ' + prisoner | firstNameSpaceLastName | possessiveComma + ' non-associations</li>
                <li>making an entry in the observation book</li>
                <li>a unit or cell move</li>
                <li>a CSRA or RSRA (Room Sharing Risk Assessment) review</li>
                <li>a service referral</li>
                <li>a SIM referral</li>
            </ul>
            '
            } if not isUpdate else undefined,
            errorMessage: validationErrors | findError('nextSteps')
        }) }}
        {{ submitButton({
            text: "Confirm and save" if isUpdate else "Continue",
            alternativeHyperlinkHref: isUpdate and ("/csip-records/" + recordUuid)
        }) }}
    </form>
{% endblock %}