{% from "partials/submitButton/macro.njk" import submitButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "partials/layout.njk" %}

{% set identifiedNeedsText = "is 1 open identified need" if openIdentifiedNeeds == 1 else "are " + openIdentifiedNeeds + " open identified needs" %}
{% set pageTitle = "Are you sure you want to close this CSIP? - Update a CSIP review" if isUpdate else "Are you sure you want to record the final review and close this CSIP? - Record a CSIP review" %}
{% set finalReviewInsert = "" if isUpdate else " record the final review and" %}

{% block innerContent %}
    {% include 'base/components/review-caption.njk' %}
    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Are you sure you want to{{finalReviewInsert}} close this CSIP?</h1>
    {% if openIdentifiedNeeds %}
        {{ govukWarningText({
            text: "There " + identifiedNeedsText + " in " + prisoner | firstNameSpaceLastName | possessiveComma + " plan. These will be closed when you close the CSIP.",
            iconFallbackText: "Warning"
        }) }}
    {% endif %}

    <p>It’s important that the plan is up to date before you record the final review.</p>
    <p>You will not be able to add or change any information after closing the CSIP.</p>

    <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
        {{ submitButton({
            text: "Yes, close CSIP",
            classes: "govuk-button--warning govuk-!-margin-right-3",
            alternativeHyperlinkHref: isUpdate and ("/csip-records/" + recordUuid)
        }) }}
        {% if not isUpdate %}
            {{ govukButton({
                text: "No, change outcome",
                href: backUrl,
                classes: "govuk-button--secondary",
                preventDoubleClick: true
            }) }}
        {% endif %}
    </form>
{% endblock %}
