{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "partials/submitButton/macro.njk" import submitButton %}

{% extends "partials/layout.njk" %}

{% set flowName = "Update CSIP referral" if isUpdate else "Make a CSIP referral" %}
{% set headerText = ["Add a comment on ", (factorDescription | sentenceCase(false)), " factors"] | join %}
{% set pageTitle = [headerText, " - ", flowName] | join %}

{% block innerContent %}
    {% include 'base/components/referral-caption.njk' %}
    <label for="comment">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Add a comment on {{ factorDescription | sentenceCase(false) }} factors (optional)</h1>
    </label>
    <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
        {{ govukCharacterCount({
            maxlength: 4000,
            rows: 5,
            threshold: "75",
            id: "comment",
            name: "comment",
            value: comment,
            errorMessage: validationErrors | findError('comment')
        }) }}
        {{ submitButton({
            text: "Confirm and save" if isUpdate else "Continue",
            alternativeHyperlinkHref: isUpdate and ("/csip-records/" + recordUuid)
        }) }}
    </form>
{% endblock %}