{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "partials/submitButton/macro.njk" import submitButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% extends "partials/layout.njk" %}

{% set flowName = "Update CSIP referral" if isUpdate else "Make a CSIP referral" %}
{% set headerText = "Add additional information" %}
{% set pageTitle = [headerText, " - ", flowName] | join %}

{% block innerContent %}
    {% include 'base/components/referral-caption.njk' %}
    <label for="otherInformation">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-7">{{ headerText }}{% if not isUpdate %} (optional){% endif %}</h1>
    </label>
    <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
        {% if isUpdate and currentOtherInformation %}
            {{ govukInsetText({
                html: currentOtherInformation | escape | boldAppendStamp | nl2br
            }) }}
        {% endif %}
        {{ govukCharacterCount({
            maxlength: maxLengthChars,
            rows: 5,
            threshold: threshold,
            id: "otherInformation",
            name: "otherInformation",
            value: otherInformation,
            hint: {
                text: 'Any other information relating to this referral, such as action already taken based on these concerns.'
            },
            errorMessage: validationErrors | findError('otherInformation')
        }) }}
        {{ submitButton({
            text: "Confirm and save" if isUpdate else "Continue",
            alternativeHyperlinkHref: isUpdate and ("/csip-records/" + recordUuid)
        }) }}
    </form>
{% endblock %}
