$app-page-width: 1170px;

@use "@ministryofjustice/frontend/moj/all" as * with (
  $moj-assets-path: "/assets/",
  $moj-page-width: $app-page-width
);
@use "govuk-frontend/dist/govuk/index" as *;
@use "govuk-frontend/dist/govuk/core/global-styles.mixin" as govuk-global-styles;

@use './components/card';
@use './components/horizontal-search-form';
@use './components/miniSummary';
@use './components/summary-card';
@use './components/print-view';
@use './local';
@use '../../server/views/partials/miniProfile/all';
@use '../../server/views/partials/sortableTable';

@import 'node_modules/@ministryofjustice/hmpps-connect-dps-components/dist/assets/footer';
@import 'node_modules/@ministryofjustice/hmpps-connect-dps-components/dist/assets/header-bar';

@include govuk-global-styles.govuk-global-styles;
