.govuk-main-wrapper {
  min-height: 600px;
}

.single-row-textarea {
  resize: none !important;
  white-space: nowrap !important;
  overflow-x: hidden !important;
}

.custom-task-list-first-row {
  border-top: 0 !important;
}

.disabled-card-action {
  color: #505a5f;
  font-weight: 700;
  text-decoration: none;
  cursor: default;
  display: inline-block;
}

.table-vertical-align-middle td {
  vertical-align: middle;
}

.nowrap {
  white-space: nowrap;
}

.col-width-200 {
  max-width: 200px;
}

.min-width-one-quarter {
  min-width: 350px;
}

.homepage-content-after {
  margin-top: 380px;
}

.homepage-content {
  padding: 70px 0;
  background: #f0f4f5;
  height: 150px;
  position: absolute;
  left: 0;
  width: 100vw;
}

.dropshadow {
  border: 1px solid govuk-colour('dark-grey');
  box-shadow: 0 5px govuk-colour('mid-grey');
}

.hide {
  display: none;
}

.status-tag {
  max-width: initial;
  white-space: nowrap;
}

.light-box {
  border: 1px solid govuk-colour('light-grey');
}

.govuk-summary-card__title {
  word-break: break-word;
}

.break-word {
  word-break: break-word;
}

.govuk-summary-card__title-wrapper * strong {
  max-height: fit-content;
}
