{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "partials/layout.njk" %}

{% set pageTitle = "Safer Custody - Make a CSIP referral" %}

{% block innerContent %}
    <span class="govuk-caption-l">Make a CSIP referral</span>
    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Is the Safer Custody team already aware of this referral?</h1>
    <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
        {{ govukRadios({
            items: [
                {
                    value: "YES",
                    text: "Yes",
                    checked: isSaferCustodyTeamInformed === 'YES'
                },
                {
                    value: "NO",
                    text: "No",
                    checked: isSaferCustodyTeamInformed === 'NO'
                },
                {
                    divider: "or"
                },
                {
                    value: "DO_NOT_KNOW",
                    text: "I don’t know",
                    checked: isSaferCustodyTeamInformed === 'DO_NOT_KNOW'
                }
            ],
            name: "isSaferCustodyTeamInformed",
            id: "isSaferCustodyTeamInformed",
            errorMessage: validationErrors | findError('isSaferCustodyTeamInformed')
        }) }}
        {{ govukButton({
            text: "Continue",
            preventDoubleClick: true
        }) }}
    </form>
{% endblock %}