{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "partials/layout.njk" %}

{% set pageTitle = "Case management - Develop an initial plan" %}
{% set customErrorOrder = ['isCaseManager', 'caseManager', 'reasonForPlan'] %}

{% block innerContent %}
    <span class="govuk-caption-l">Develop an initial plan</span>
    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Case management</h1>

    {% set caseManagerHtml %}
        {{ govukCharacterCount({
            label: "Name of Case Manager" | withVisuallyHiddenText("If not, provide their name."),
            maxlength: 100,
            rows: 1,
            threshold: "100",
            classes: "govuk-input--width-10 single-row-textarea",
            id: "caseManager",
            name: "caseManager",
            value: caseManager,
            errorMessage: validationErrors | findError('caseManager')
        }) }}
    {% endset %}

    <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
        {{ govukRadios({
            name: "isCaseManager",
            fieldset: {
                legend: {
                    text: 'Are you the Case Manager for ' + (prisoner | firstNameSpaceLastName | possessiveComma) + ' plan?',
                    classes: "govuk-fieldset__legend--m"
                }
            },
            items: [
                {
                    value: true,
                    text: "Yes",
                    checked: isCaseManager === true
                },
                {
                    value: false,
                    text: "No",
                    checked: isCaseManager === false,
                    conditional: {
                    html: caseManagerHtml
                }
                }
            ],
            errorMessage: validationErrors | findError('isCaseManager')
        }) }}
        {{ govukCharacterCount({
            label: {
                text: 'What’s the main reason why ' + (prisoner | firstNameSpaceLastName) + ' needs a plan?',
                classes: "govuk-label--m",
                isPageHeading: true
            },
            maxlength: 240,
            rows: 1,
            threshold: "100",
            classes: "single-row-textarea",
            id: "reasonForPlan",
            name: "reasonForPlan",
            value: reasonForPlan,
            errorMessage: validationErrors | findError('reasonForPlan')
        }) }}
        {{ govukButton({
            text: "Continue",
            preventDoubleClick: true
        }) }}
    </form>
{% endblock %}