{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "partials/layout.njk" %}

{% set headerText = 'What are the contributory factors?' %}
{% set pageTitle = [headerText, ' - Make a CSIP referral'] | join %}

{% block innerContent %}
    <span class="govuk-caption-l">Make a CSIP referral</span>
    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">{{ headerText }}</h1>
    <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
        {{ govukCheckboxes({
            id: "contributoryFactors",
            name: "contributoryFactors",
            items: contributoryFactorCheckboxes,
            hint: {
                text: "Select all that apply."
            },
            errorMessage: validationErrors | findError('contributoryFactors')
        }) }}
        {% for hiddenExistingCF in hiddenExistingCFs %}
            <input type="hidden" id="contributoryFactors{{ ('-' + loop.index) if loop.index > 1 else '' }}" name="contributoryFactors" value="{{ hiddenExistingCF.value }}" />
        {% endfor %}
        {{ govukButton({
            text: "Continue",
            preventDoubleClick: true
        }) }}
    </form>
{% endblock %}