{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

    <h2 class="govuk-heading-m">Incident details</h2>
    {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-7",
        rows: [
            {
                key: {
                text: "Date of incident"
            },
                value: {
                text: referral.incidentDate | formatDisplayDate
            },
                actions: {
                items: [
                    {
                        href: "details#incidentDate",
                        text: "Change",
                        visuallyHiddenText: "date of incident",
                        classes: "govuk-link--no-visited-state"
                    }
                ]
            }
            },
            {
                key: {
                text: "Time of incident"
            },
                value: {
                text: referral.incidentTime | substring(0, 5) or "Not provided"
            },
                actions: {
                items: [
                    {
                        href: "details#incidentTime-hour",
                        text: "Change",
                        visuallyHiddenText: "time of incident",
                        classes: "govuk-link--no-visited-state"
                    }
                ]
            }
            },
            {
                key: {
                text: "Location of incident"
            },
                value: {
                text: referral.incidentLocation.description
            },
                actions: {
                items: [
                    {
                        href: "details#incidentLocation",
                        text: "Change",
                        visuallyHiddenText: "location of incident",
                        classes: "govuk-link--no-visited-state"
                    }
                ]
            }
            },
            {
                key: {
                text: "Incident type"
            },
                value: {
                text: referral.incidentType.description
            },
                actions: {
                items: [
                    {
                        href: "details#incidentType",
                        text: "Change",
                        visuallyHiddenText: "incident type",
                        classes: "govuk-link--no-visited-state"
                    }
                ]
            }
            }
        ]
    }) }}

    <h2 class="govuk-heading-m">Incident involvement</h2>
    {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-7",
        rows: [
            {
                key: {
                text: "Prisoner involvement"
            },
                value: {
                text: referral.incidentInvolvement.description
            },
                actions: {
                items: [
                    {
                        href: "involvement#involvementType",
                        text: "Change",
                        visuallyHiddenText: "how the prisoner was involved",
                        classes: "govuk-link--no-visited-state"
                    }
                ]
            }
            },
            {
                key: {
                text: "Staff assaulted"
            },
                value: {
                text: 'Yes' if referral.isStaffAssaulted else 'No'
            },
                actions: {
                items: [
                    {
                        href: "involvement#isStaffAssaulted",
                        text: "Change",
                        visuallyHiddenText: "if a staff member was assaulted or not",
                        classes: "govuk-link--no-visited-state"
                    }
                ]
            }
            },
            {
                key: {
                text: "Names of staff assaulted"
            },
                value: {
                text: referral.assaultedStaffName or ''
            },
                actions: {
                items: [
                    {
                        href: "involvement#assaultedStaffName",
                        text: "Change",
                        visuallyHiddenText: "the name of the staff members assaulted",
                        classes: "govuk-link--no-visited-state"
                    }
                ]
            }
            } if referral.isStaffAssaulted else undefined
        ]
    }) }}

    <h2 class="govuk-heading-m">Incident description</h2>
    {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-7",
        rows: [
            {
                key: {
                text: "Description of incident and concerns"
            },
                value: {
                html: referral.descriptionOfConcern | escape | nl2br
            },
                actions: {
                items: [
                    {
                        href: "description#descriptionOfConcern",
                        text: "Change",
                        visuallyHiddenText: "the description of the incident and concerns",
                        classes: "govuk-link--no-visited-state"
                    }
                ]
            }
            },
            {
                key: {
                text: "Reasons given for the incident"
            },
                value: {
                html: referral.knownReasons | escape | nl2br
            },
                actions: {
                items: [
                    {
                        href: "reasons#knownReasons",
                        text: "Change",
                        visuallyHiddenText: "the reasons given for the incident",
                        classes: "govuk-link--no-visited-state"
                    }
                ]
            }
            }
        ]
    }) }}
