[aria-sort] button {
  padding-right: 15px;
}

[aria-sort] button:hover {
  padding-right: 15px;
}

[aria-sort] button span::after {
  content: " \25b2";
  position: absolute;
  top: 1px;
  right: -1px;
  font-size: 0.5em;
}

[aria-sort="none"] button span::before {
  content: " \25bc";
  position: absolute;
  top: 9px;
  right: -1px;
  font-size: 0.5em;
}

[aria-sort="ascending"] button span::after {
  content: " \25b2";
  position: absolute;
  top: 2px;
  right: -5px;
  font-size: 0.8em;
}

[aria-sort="descending"] button span::after {
  content: " \25bc";
  position: absolute;
  top: 2px;
  right: -5px;
  font-size: 0.8em;
}