{% macro reviewDate(params) %}
    {%- if params.date %}
        {%- switch params.date | datePriority %}
        {% case 'OVERDUE' %}
            <span class="govuk-tag--red govuk-!-padding-left-2 govuk-!-padding-right-2 govuk-!-padding-top-1 govuk-!-padding-bottom-1 nowrap">{{ params.date }}</span>
        {% case 'URGENT' %}
            <span class="govuk-tag--yellow govuk-!-padding-left-2 govuk-!-padding-right-2 govuk-!-padding-top-1 govuk-!-padding-bottom-1 nowrap">{{ params.date }}</span>
        {% case 'NORMAL' %}
            {{ params.date }}
        {% endswitch %}
    {% else %}
        {{ params.emptyLabel }}
    {% endif %}
{% endmacro %}