{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "hmpps/components/date-picker/macro.njk" import hmppsDatePicker %}

{% extends "partials/layout.njk" %}

{% block additionalScripts %}
    <script src="/assets/javascript/datepicker.js"></script>
{% endblock %}

{% set pageTitle = "Details - Make a CSIP referral" %}

{% block innerContent %}
    <span class="govuk-caption-l">Make a CSIP referral</span>
    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Behaviour details</h1>
    <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
        <h3 class="govuk-heading-m">When was the most recent occurrence of the behaviour?</h3>
        {{ hmppsDatePicker({
            id: "incidentDate",
            name: "incidentDate",
            label: {
                text: "Date of occurrence"
            },
            value: incidentDate,
            errorMessage: validationErrors | findError('incidentDate'),
            classes: 'hmpps-datepicker--fixed-width',
            maxDate: todayStringGBFormat()
        }) }}
        {{ govukDateInput({
            id: "incidentTime",
            name: "incidentTime",
            fieldset: {
                legend: {
                    text: "Time of occurrence (optional)"
                }
            },
            hint: {
                text: 'Use the 24-hour clock. For example, 09 08 or 17 32.'
            },
            errorMessage: validationErrors | findError('incidentTime'),
            items: [
                {
                    name: "hour",
                    label: "Hour",
                    value: hour,
                    classes: 'govuk-input--width-2'
                },
                {
                    name: "minute",
                    label: "Minute",
                    value: minute,
                    classes: 'govuk-input--width-2'
                }
            ]
        }) }}
        {{ govukSelect({
            label: {
                text: "Where was the most recent occurrence of the behaviour?",
                classes: "govuk-label--m",
                isPageHeading: true
            },
            id: "incidentLocation",
            name: "incidentLocation",
            items: incidentLocationOptions,
            errorMessage: validationErrors | findError('incidentLocation')
        }) }}
        {{ govukSelect({
            label: {
                text: "What’s the main concern?",
                classes: "govuk-label--m",
                isPageHeading: true
            },
            id: "incidentType",
            name: "incidentType",
            items: incidentTypeOptions,
            errorMessage: validationErrors | findError('incidentType')
        }) }}
        {{ govukButton({
            text: "Continue",
            preventDoubleClick: true
        }) }}
    </form>
{% endblock %}