{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "partials/layout.njk" %}

{% set title = "Investigation decision" %}
{% set caption = "Change a CSIP investigation decision" if changeDecision else "Record a CSIP investigation decision" %}
{% set pageTitle = title + " - " + caption %}

{% block innerContent %}
    <span class="govuk-caption-l">{{ caption }}</span>
    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">{{ title }}</h1>
    <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
        {{ govukRadios({
            fieldset: {
                legend: {
                    text: "What’s the conclusion of the CSIP investigation?",
                    classes: "govuk-fieldset__legend--m"
                }
            },
            id: "outcome",
            name: "outcome",
            items: outcomeTypeOptions,
            errorMessage: validationErrors | findError('outcome')
        }) }}

        {{ govukCharacterCount({
            label: {
              text: "Describe the reasons for the decision",
              classes: "govuk-label--m",
              isPageHeading: true
            },
            maxlength: 4000,
            rows: 5,
            threshold: "75",
            id: "conclusion",
            name: "conclusion",
            value: conclusion,
            errorMessage: validationErrors | findError('conclusion'),
            hint: {
                text: "Include the name and role of the staff member signing off on the decision."
            }
        }) }}
        {{ govukButton({
            text: "Continue",
            preventDoubleClick: true
        }) }}
    </form>
{% endblock %}
