{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "partials/submitButton/macro.njk" import submitButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% extends "partials/layout.njk" %}

{% set pageTitle = "Add information to the planned intervention - Update plan" %}

{% block innerContent %}
  {% include 'base/components/plan-caption.njk' %}
  <label for="intervention">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">{{'Add information to the planned intervention'}}</h1>
  </label>
  <form method="post">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

    {{ govukCharacterCount({
      maxlength: maxLengthChars,
      rows: 5,
      threshold: threshold,
      id: "intervention",
      name: "intervention",
      value: intervention,
      errorMessage: validationErrors | findError('intervention'),
      hint: {
        html: '<div class="govuk-inset-text">' + (currentIntervention | escape | boldAppendStamp | nl2br) + '</div>'
      } if currentIntervention else undefined
    }) }}

    {{ submitButton({
      text: "Confirm and save",
      alternativeHyperlinkHref: "/csip-records/" + recordUuid
    }) }}
  </form>
{% endblock %}