{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% extends "partials/layout.njk" %}

{% set fullWidth = true %}
{% set pageTitle = "Identified needs - Update a plan" %}

{% block pageHeader %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Update identified needs in {{ prisoner | firstNameSpaceLastName | possessiveComma }} plan</h1>
        </div>
    </div>
{% endblock %}

{% block innerContent %}
  <p class="govuk-!-margin-bottom-8">
    <strong>CSIP log code:</strong> {{ record.logCode or "Not provided" }}
  </p>

  {% for need in identifiedNeeds %}
      {{ govukSummaryList({
          card: {
              classes: "govuk-!-margin-bottom-7" if loop.index === identifiedNeeds.length else undefined,
              title: { text: need.identifiedNeed },
              actions: {
                items: [{
                  text: "Reopen" if need.closedDate else "Close",
                  href: ('reopen' if need.closedDate else 'close' ) + '-identified-need/' + need.identifiedNeedUuid
                }]
              }
          },
          rows: [
          {
            key: {
                text: 'Person responsible'
            },
            value: {
                text: need.responsiblePerson
            },
            actions: {
              items: [
                {
                  href: "update-intervention-details/" + need.identifiedNeedUuid + "#responsiblePerson",
                  text: "Change",
                  visuallyHiddenText: "the person responsible",
                  classes: "govuk-link--no-visited-state"
                }
              ]
            } if not need.closedDate else undefined
          },
          {
            key: {
              text: 'Closed date'
            },
            value: {
              text: need.closedDate | formatDisplayDate
            }
          } if need.closedDate else undefined,
          {
            key: {
                text: 'Target date'
            },
            value: {
                text: need.targetDate | formatDisplayDate
            },
            actions: {
              items: [
                {
                  href: "update-intervention-details/" + need.identifiedNeedUuid + "#targetDate",
                  text: "Change",
                  visuallyHiddenText: "the target date",
                  classes: "govuk-link--no-visited-state"
                }
              ]
            } if not need.closedDate else undefined
          },
          {
            key: {
                text: 'Identified need summary'
            },
            value: {
                html: (need.identifiedNeed or 'Not provided') | escape | boldAppendStamp | nl2br
            },
            actions: {
              items: [
                {
                  href: "update-identified-need/" + need.identifiedNeedUuid + "#identifiedNeed",
                  text: "Change",
                  visuallyHiddenText: "the summary of the identified need",
                  classes: "govuk-link--no-visited-state"
                }
              ]
            } if not need.closedDate else undefined
          },
          {
            key: {
                text: 'Planned intervention'
            },
            value: {
                html: (need.intervention or 'Not provided') | escape | boldAppendStamp | nl2br
            },
            actions: {
              items: [
                {
                  href: "planned-intervention/" + need.identifiedNeedUuid + "#intervention",
                  text: "Add information",
                  visuallyHiddenText: "to the planned intervention",
                  classes: "govuk-link--no-visited-state"
                }
              ]
            } if not need.closedDate else undefined
          },
          {
            key: {
                text: 'Actions and progress'
            },
            value: {
                html: (need.progression or 'Not provided') | escape | boldAppendStamp | nl2br
            },
            actions: {
              items: [
                {
                  href: "update-actions-progress/" + need.identifiedNeedUuid + "#progression",
                  text: "Add information",
                  visuallyHiddenText: "to the actions and progress",
                  classes: "govuk-link--no-visited-state"
                }
              ]
            } if not need.closedDate else undefined
          },
          {
            key: {
                text: 'Created date'
            },
            value: {
                html: need.createdDate | formatDisplayDate
            }
          }]
      }) }}
  {% endfor %}

  {% if not identifiedNeeds.length %}
      <p class="govuk-!-margin-bottom-8">No identified needs recorded.</p>
  {% endif %}

  {{ govukButton ({
    classes: "govuk-!-margin-bottom-7 govuk-button--secondary",
    text: "Add identified need" if not identifiedNeeds.length else "Add another identified need",
    href: "summarise-identified-need"
  }) }}

  <div class="govuk-summary-list">
    <a class="govuk-link govuk-link--no-visited-state" href="{{secondaryButton.link}}">{{ secondaryButton.label }}</a>
  </div>
{% endblock %}