{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "partials/submitButton/macro.njk" import submitButton %}

{% extends "partials/layout.njk" %}

{% set pageTitle = "What’s the outcome of this review? - Record a CSIP review" %}

{% block innerContent %}
    {% include 'base/components/review-caption.njk' %}
    <label for="outcome">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-7">What’s the outcome of this review?</h1>
    </label>
    <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
        {{ govukRadios({
            id: "outcome",
            name: "outcome",
            items: [
                {
                    value: "REMAIN_ON_CSIP",
                    text: "Keep the prisoner on the plan",
                    checked: outcome === "REMAIN_ON_CSIP"
                }, 
                {
                    value: "CLOSE_CSIP",
                    text: "Close the CSIP",
                    checked: outcome === "CLOSE_CSIP"
                }
            ],
            errorMessage: validationErrors | findError('outcome')
        }) }}
        {{ submitButton({
            text: "Confirm and save" if isUpdate else "Continue",
            alternativeHyperlinkHref: isUpdate and ("/csip-records/" + recordUuid)
        }) }}
    </form>
{% endblock %}
