{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "partials/layout.njk" %}

{% set pageTitle = "Confirmation - Make a CSIP referral" %}

{% set theHtml = "<div><strong>" + (prisoner.lastName + ", " + prisoner.firstName) | convertToTitleCase + "</strong></div><div>" + prisoner.prisonerNumber + "</div>" %}

{% block innerContent %}
    {{ govukPanel({
        titleText: "CSIP referral complete",
        html: theHtml
    }) }}
    <h1 class="govuk-heading-m">What happens next</h1>
    <p class="govuk-body">We've sent the referral to the Safer Custody team.</p>
    <p class="govuk-body">They may contact you:</p>
    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>if they need more information to make a decision on next steps</li>
        <li>to provide guidance on actions if the referral does not procede to an investigation or plan</li>
    </ul>
{% endblock %}