{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% set pageTitle = "Make a CSIP referral" %}
{% extends "partials/layout.njk" %}

{% block innerContent %}
  {% if showNotificationBanner %}
    {% set notificationHtml %}
      <h1 class="govuk-heading-m">{{ prisoner | firstNameSpaceLastName }} is already on a CSIP</h1>
      <a class="govuk-link govuk-link--no-visited-state" href="/manage-csips?query={{ prisoner | firstNameSpaceLastName }}" target="_blank">View CSIP details for {{ prisoner | firstNameSpaceLastName }} (opens in a new tab)</a>
      <p class="govuk-body govuk-!-padding-top-4">You can still make a new referral, however you might want to check local procedures or contact Safer Custody before continuing.</p>
    {% endset %}
    {{ govukNotificationBanner({
        html: notificationHtml
    }) }}
  {% endif %}

  <h1 class="govuk-heading-l">Make a CSIP referral</h1>

  <p>Use this service to refer {{ prisoner | firstNameSpaceLastName }} for a Challenge, Support and Intervention Plan (CSIP).</p>

  {{ govukDetails({
      summaryText: "Help with CSIP referrals",
      html: '
              <p>Check your local guidance for information on CSIP procedures at your establishment.</p>
              <p>Contact the Safer Custody team with any questions or if you need support to use this service.</p>
            '
  }) }}

  <form method="post">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
    {{ govukRadios({
        name: "isOnBehalfOfReferral",
        fieldset: {
            legend: {
                text: "Are you making this referral on someone else’s behalf?",
                classes: "govuk-fieldset__legend--m"
            }
        },
        items: [
          {
            value: true,
            text: "Yes",
            checked: isOnBehalfOfReferral === true
          },
          {
            value: false,
            text: "No",
            checked: isOnBehalfOfReferral === false
          }
        ],
        errorMessage: validationErrors | findError('isOnBehalfOfReferral')
    }) }}
    {{ govukButton({
        text: "Continue",
        preventDoubleClick: true
    }) }}
  </form>
{% endblock %}
