{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "partials/submitButton/macro.njk" import submitButton %}

{% extends "partials/layout.njk" %}

{% set pageTitle = "Update review details - Update a CSIP review" if isUpdate else "Enter review details - Record a CSIP review" %}

{% block innerContent %}
    {% include 'base/components/review-caption.njk' %}
    <label for="summary">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-7">
            {% if isUpdate %}
                Update the review details
            {% else %}
                Enter details of the review
            {% endif %}
        </h1>
    </label>
    <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
        {{ govukDetails({
            summaryText: "What type of information to include",
            html: '
            <p>You could include: </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>a description of the review process or minutes from a review meeting</li>
                <li>a summary of progress on each identified need</li>
                <li>information on any set-backs or changes in risk</li>
            </ul>'
        }) }}
        {{ govukCharacterCount({
            maxlength: 4000,
            rows: 12,
            threshold: 75,
            id: "summary",
            name: "summary",
            value: summary,
            errorMessage: validationErrors | findError('summary')
        }) }}
        {{ submitButton({
            text: "Confirm and save" if isUpdate else "Continue",
            alternativeHyperlinkHref: isUpdate and ("/csip-records/" + recordUuid)
        }) }}
    </form>
{% endblock %}
