{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% macro decisionSummaryList(decision, recordUuid, changeDecisionEnabled, isUpdate, isCsipProcessor, username) %}
  {{ govukSummaryList({
      rows: [
        {
          key: { text: 'Decision date' },
          value: { text: decision.date | formatDisplayDate }
        },
        {
          key: { text: 'Decision outcome' },
          value: {
            html: (decision.outcome.description if decision.outcome else 'Not provided') | escape | boldAppendStamp | nl2br | summaryListActionChange(changeDecisionEnabled, { 
              href: "check-change-decision",
              text: "Change outcome",
              classes: "govuk-link--no-visited-state"
            })
          }
        },
        {
          key: { text: 'Signed off by' },
          value: { text: (decision.signedOffByRole.description if decision.signedOffByRole else 'Not provided') }
        },
        {
          key: { text: 'Reason for decision' },
          value: {
            html: (decision.conclusion or 'Not provided') | escape | boldAppendStamp | nl2br | summaryListActionAddInformation(isUpdate, username, decision.conclusion, { 
              href: "update-decision/conclusion#conclusion",
              text: "Add information",
              visuallyHiddenText: "to the description of the reasons for the decision",
              classes: "govuk-link--no-visited-state"
            })
          }
        },
        {
          key: { text: 'Comments on next steps' },
          value: {
            html: (decision.nextSteps or 'Not provided') | escape | boldAppendStamp | nl2br | summaryListActionAddInformation(isUpdate, username, decision.nextSteps, { 
              href: "update-decision/next-steps#nextSteps",
              text: "Add information",
              visuallyHiddenText: "to the comments on next steps",
              classes: "govuk-link--no-visited-state"
            })
          }
        },
        {
          key: { text: 'Additional information' },
          value: {
            html: (decision.actionOther or 'Not provided') | escape | boldAppendStamp | nl2br | summaryListActionAddInformation(isUpdate, username, decision.actionOther, { 
              href: "update-decision/additional-information#actionOther",
              text: "Add information",
              visuallyHiddenText: "to the additional information relating to the decision",
              classes: "govuk-link--no-visited-state"
            })
          }
        },
        {
          key: { text: 'Recorded by' },
          value: { text: decision.recordedByDisplayName }
        }
      ]
  }) }}
{% endmacro %}