{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "./decisionSummaryList.njk" import decisionSummaryList %}


{% if not isUpdate %}
  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l govuk-!-margin-bottom-7">Investigation decision</h2>
    </div>
    {% if secondaryButton and secondaryButton.label == 'Update decision' and isCsipProcessor %}
      <div class="govuk-summary-list govuk-summary-list__actions">
        <a class="govuk-link govuk-link--no-visited-state" href="{{secondaryButton.link}}">{{ secondaryButton.label }}</a>
      </div>
    {% endif %}
  </div>
{% endif %}

{{ decisionSummaryList(decision, recordUuid, changeDecisionEnabled, isUpdate, isCsipProcessor, username) }}

{% if decision.history.length %}

  {% set detailsHtml %}
    {% for item in decision.history %}
      {% if decision.history.length > 1 %}
        <h2>Previous decision {{ loop.index }}</h2>
      {% else %}
        <h2>Previous decision</h2>
      {% endif %}
      {{ decisionSummaryList(item, recordUuid, false, false, false, '') }}
    {% endfor %}
  {% endset %}

  {{ govukDetails({
      summaryText: "Show previous decisions",
      html: detailsHtml
  }) }}
{% endif %}

{% if not isUpdate %}
  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl hide-print">
{% endif %}