{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

<h1 class="govuk-heading-l govuk-!-margin-bottom-7">Investigation</h1>

<h2 class="govuk-heading-m">Investigation information</h2>

{{ govukSummaryList({
    classes: "govuk-!-margin-bottom-7",
    rows: [
      {
        key: {
          text: 'Investigation date'
        },
        value: {
          text: referral.createdAt | formatDisplayDate
        }
      },
      {
        key: {
          text: 'Staff involved'
        },
        value: {
          text: investigation.staffInvolved
        }
      },
      {
        key: {
          text: 'Evidence secured'
        },
        value: {
          text: investigation.evidenceSecured
        }
      },
      {
        key: {
          text: 'Why this occurred'
        },
        value: {
          text: investigation.occurrenceReason
        }
      },
      {
        key: {
          text: 'Usual behaviour presentation'
        },
        value: {
          text: investigation.personsUsualBehaviour
        }
      },
      {
        key: {
          text: 'Triggers'
        },
        value: {
          text: investigation.personsTrigger
        }
      },
      {
        key: {
          text: 'Protective factors'
        },
        value: {
          text: investigation.protectiveFactors
        }
      }
    ]
}) }}

<h2 class="govuk-heading-m govuk-!-margin-bottom-7">Interview details</h2>

{% for interview in investigation.interviews %}
    {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-7",
        card: {
            title: { text: "Interview with " + interview.interviewee }
        },
        rows: [{
            key: {
                text: 'Interviewee'
            },
            value: {
                text: interview.interviewee
            }
        }, {
            key: {
                text: 'Interview date'
            },
            value: {
                text: interview.interviewDate | formatDisplayDate
            }
        }, {
            key: {
                text: 'Role'
            },
            value: {
                text: interview.intervieweeRole.description
            }
        }, {
            key: {
                text: 'Comments'
            },
            value: {
                html: (interview.interviewText or "Not provided") | escape | nl2br
            }
        }]
    }) }}
{% endfor %}

{% if not investigation.interviews.length %}
    <p class="govuk-!-margin-bottom-8">No interview details recorded.</p>
    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-8">
{% endif %}