{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% if not isUpdate %}
    <div class="govuk-grid-row govuk-!-margin-bottom-6">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l govuk-!-margin-bottom-7">Plan</h2>
        </div>
        {% if status == 'CSIP_OPEN' and secondaryButton and isCsipProcessor %}
            <div class="govuk-summary-list govuk-summary-list__actions">
                <a class="govuk-link govuk-link--no-visited-state" href="{{secondaryButton.link}}">Update plan</a>
            </div>
        {% endif %}
    </div>
{% else %}
    <p class="govuk-!-margin-bottom-8">
        <strong>CSIP log code:</strong> {{ record.logCode or "Not provided" }}
    </p>
{% endif %}

{% if isUpdate %}
  <h2 class="govuk-heading-m">Case management</h3>
{% else %}
  <h3 class="govuk-heading-m">Case management</h3>
{% endif %}

{{ govukSummaryList({
    classes: "govuk-!-margin-bottom-9",
    rows: [
      {
        key: {
          text: 'Plan date'
        },
        value: {
          text: (plan.createdAt | formatDisplayDate) or '-'
        }
      },
      {
        key: {
          text: 'Case Manager'
        },
        value: {
          text: plan.caseManager or 'Not provided'
        },
        actions: {
          items: [
            {
              href: "update-plan/case-management#caseManager",
              text: "Change",
              visuallyHiddenText: "the Case Manager",
              classes: "govuk-link--no-visited-state"
            }
          ]
        } if isUpdate else undefined
      },
      {
        key: {
          text: 'Reason for the plan'
        },
        value: {
          html: (plan.reasonForPlan or 'Not provided') | escape | boldAppendStamp | nl2br
        },
        actions: {
          items: [
            {
              href: "update-plan/case-management#reasonForPlan",
              text: "Change",
              visuallyHiddenText: "the reason for the plan",
              classes: "govuk-link--no-visited-state"
            }
          ]
        } if isUpdate else undefined
      },
      {
        key: {
          text: 'First review date'
        },
        value: {
          text: (plan.firstCaseReviewDate | formatDisplayDate) or '-'
        }
      },
      {
        key: {
          text: 'Next review date'
        },
        value: {
          html: (plan.nextCaseReviewDate | formatDisplayDate) or '-'
        },
        actions: {
          items: [
            {
              href: "update-plan/next-review-date#nextCaseReviewDate",
              text: "Change",
              visuallyHiddenText: "the next review date",
              classes: "govuk-link--no-visited-state"
            }
          ]
        } if isUpdate else undefined
      }]
}) }}

<hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-8 hide-print">

<div class="govuk-grid-row page-break-print">
    <div class="govuk-grid-column-two-thirds">
        {% if isUpdate %}
          <h2 class="govuk-heading-m">Identified needs</h3>
        {% else %}
          <h3 class="govuk-heading-m">Identified needs</h3>
        {% endif %}
    </div>
    {% if status == 'CSIP_OPEN' and isCsipProcessor %}
        <div class="govuk-summary-list govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="/csip-record/{{ recordUuid }}/update-plan/identified-needs/start">{{ identifiedNeeds | identifiedNeedsActionLabel }}<span class="govuk-visually-hidden"> identified needs</span></a>
        </div>
    {% endif %}
</div>

{% for need in identifiedNeeds %}
    {% set cardClasses = "page-break-print " if loop.index % 2 !== 0 and loop.index !== 1 else "" %}
    {# We create our own html here for the card title because we dont want the tag to be rendered as a link, so cant use actions, but summarylist puts the content of `html` beside a h2, so we need to hide the extraneous h2 with the `hide` class (see local.scss) #}
    {% set headingLevel = "3" if isUpdate else "4" %}
    {{ govukSummaryList({
        card: {
            classes: (cardClasses + "govuk-!-margin-bottom-7" if loop.index === identifiedNeeds.length else cardClasses) + " dropshadow",
            title: {
              html: "<h" + headingLevel + " class='govuk-summary-card__title govuk-!-font-size-24'>" + need.identifiedNeed + "</h4><div class='govuk-summary-card__actions'>" + ("<strong class='govuk-tag govuk-tag--grey'>Closed</strong>" if need.closedDate else "<strong class='govuk-tag'>Open</strong>") + "</div>",
              classes: "hide"
            }
        },
        rows: [
        {
          key: {
              text: 'Person responsible'
          },
          value: {
              text: need.responsiblePerson
          }
        },
        {
          key: {
            text: 'Closed date'
          },
          value: {
            text: need.closedDate | formatDisplayDate
          }
        } if need.closedDate else undefined,
        {
          key: {
              text: 'Target date'
          },
          value: {
              text: need.targetDate | formatDisplayDate
          }
        },
        {
          key: {
              text: 'Identified need summary'
          },
          value: {
              html: (need.identifiedNeed or 'Not provided') | escape | boldAppendStamp | nl2br
          }
        },
        {
          key: {
              text: 'Planned intervention'
          },
          value: {
              html: (need.intervention or 'Not provided') | escape | boldAppendStamp | nl2br
          }
        },
        {
          key: {
              text: 'Actions and progress'
          },
          value: {
              html: (need.progression or 'Not provided') | escape | boldAppendStamp | nl2br
          }
        },
        {
          key: {
              text: 'Created date'
          },
          value: {
              html: need.createdDate | formatDisplayDate
          }
        }]
    }) }}
{% endfor %}

{% if not identifiedNeeds.length %}
    <p class="govuk-!-margin-bottom-8">No identified needs recorded.</p>
{% endif %}

