{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

<h1 class="govuk-heading-m">Behaviour details</h1>
{{ govukSummaryList({
    classes: "govuk-!-margin-bottom-7",
    rows: [
        {
            key: {
                text: "Date of occurrence"
            },
            value: {
                text: referral.incidentDate | formatDisplayDate
            },
            actions: {
                items: [
                    {
                        href: "update-referral/details#incidentDate",
                        text: "Change",
                        visuallyHiddenText: "date of occurrence",
                        classes: "govuk-link--no-visited-state"
                    }
                ]
            } if isUpdate else undefined
        },
        {
            key: {
                text: "Time of occurrence"
            },
            value: {
                text: referral.incidentTime | substring(0, 5) or "Not provided"
            },
            actions: {
                items: [
                    {
                        href: "update-referral/details#incidentTime",
                        text: "Change",
                        visuallyHiddenText: "time of occurrence",
                        classes: "govuk-link--no-visited-state"
                    }
                ]
            } if isUpdate else undefined
        },
        {
            key: {
                text: "Location of occurrence"
            },
            value: {
                text: referral.incidentLocation.description
            },
            actions: {
                items: [
                    {
                        href: "update-referral/details#incidentLocation",
                        text: "Change",
                        visuallyHiddenText: "location of occurrence",
                        classes: "govuk-link--no-visited-state"
                    }
                ]
            } if isUpdate else undefined
        },
        {
            key: {
                text: "Main concern"
            },
            value: {
                text: referral.incidentType.description
            },
            actions: {
                items: [
                    {
                        href: "update-referral/details#incidentType",
                        text: "Change",
                        visuallyHiddenText: "main concern",
                        classes: "govuk-link--no-visited-state"
                    }
                ]
            } if isUpdate else undefined
        }
    ]
}) }}

<h1 class="govuk-heading-m page-break-print">Behaviour involvement</h1>
{{ govukSummaryList({
    classes: "govuk-!-margin-bottom-7",
    rows: [
        {
            key: {
                text: "Prisoner involvement"
            },
            value: {
                text: referral.incidentInvolvement.description if referral.incidentInvolvement else 'Not provided'
            },
            actions: {
                items: [
                    {
                        href: "update-referral/involvement#involvementType",
                        text: "Change",
                        visuallyHiddenText: "how the prisoner was involved",
                        classes: "govuk-link--no-visited-state"
                    }
                ]
            } if isUpdate else undefined
        },
        {
            key: {
                text: "Staff assaulted"
            },
            value: {
                text: 'Yes' if referral.isStaffAssaulted else 'No'
            },
            actions: {
                items: [
                    {
                        href: "update-referral/involvement#isStaffAssaulted",
                        text: "Change",
                        visuallyHiddenText: "if a staff member was assaulted or not",
                        classes: "govuk-link--no-visited-state"
                    }
                ]
            } if isUpdate else undefined
        },
        {
            key: {
                text: "Names of staff assaulted"
            },
            value: {
                text: referral.assaultedStaffName or 'Not provided'
            },
            actions: {
                items: [
                    {
                        href: "update-referral/involvement#assaultedStaffName",
                        text: "Change",
                        visuallyHiddenText: "the name of the staff members assaulted",
                        classes: "govuk-link--no-visited-state"
                    }
                ]
            } if isUpdate else undefined
        } if referral.isStaffAssaulted else undefined
    ]
}) }}

<h1 class="govuk-heading-m">Behaviour description</h1>
{{ govukSummaryList({
    classes: "govuk-!-margin-bottom-7",
    rows: [
        {
            key: {
                text: "Description of behaviour and concerns"
            },
            value: {
                html: (referral.descriptionOfConcern or 'Not provided') | escape | boldAppendStamp | nl2br
            },
            actions: {
                items: [
                    {
                        href: "update-referral/description#descriptionOfConcern",
                        text: "Add information",
                        visuallyHiddenText: "to the description of the behaviour and concerns",
                        classes: "govuk-link--no-visited-state"
                    }
                ]
            } if isUpdate else undefined
        },
        {
            key: {
                text: "Reasons given for the behaviour"
            },
            value: {
                html: (referral.knownReasons or 'Not provided') | escape | boldAppendStamp | nl2br
            },
            actions: {
                items: [
                    {
                        href: "update-referral/reasons#knownReasons",
                        text: "Add information",
                        visuallyHiddenText: "to the reasons given for the behaviour",
                        classes: "govuk-link--no-visited-state"
                    }
                ]
            } if isUpdate else undefined
        }
    ]
}) }}