{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% if not isUpdate %}
    {% set headingClasses = "govuk-grid-row govuk-!-margin-bottom-6" + (" page-break-print" if screening else "") %}
    <div class="{{ headingClasses }}">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l">Referral</h2>
        </div>
        {% if secondaryButton and secondaryButton.label == 'Update referral' %}
            <div class="govuk-summary-list govuk-summary-list__actions">
                <a class="govuk-link govuk-link--no-visited-state" href="{{secondaryButton.link}}">{{ secondaryButton.label }}</a>
            </div>
        {% endif %}
    </div>
{% endif %}

<h1 class="govuk-heading-m">Referral details</h1>
{{ govukSummaryList({
    classes: "govuk-!-margin-bottom-7",
    rows: [
        {
            key: {
                text: "Referral date"
            },
            value: {
                text: referral.referralDate | formatDisplayDate
            }
        },
        {
            key: {
                text: "Referrer name"
            },
            value: {
                text: referral.referredBy
            },
            actions: {
                items: [
                    {
                        href: "update-referral/referrer#referredBy",
                        text: "Change",
                        visuallyHiddenText: "name of referrer",
                        classes: "govuk-link--no-visited-state"
                    }
                ]
            } if isUpdate else undefined
        },
        {
            key: {
                text: "Area of work"
            },
            value: {
                text: referral.refererArea.description
            },
            actions: {
                items: [
                    {
                        href: "update-referral/referrer#areaOfWork",
                        text: "Change",
                        visuallyHiddenText: "area of work",
                        classes: "govuk-link--no-visited-state"
                    }
                ]
            } if isUpdate else undefined
        },
        {
            key: {
                text: "Proactive or reactive referral"
            },
            value: {
                text: "Proactive" if referral.isProactiveReferral else "Reactive"
            },
            actions: {
                items: [
                    {
                        href: "update-referral/proactive-or-reactive#isProactiveReferral",
                        text: "Change",
                        visuallyHiddenText: "if the referral is proactive or reactive",
                        classes: "govuk-link--no-visited-state"
                    }
                ]
            } if isUpdate else undefined
        },
        {
            key: {
                text: "Recorded by"
            },
            value: {
                text: referral.referralCompletedByDisplayName
            }
        } if referral.referralCompletedByDisplayName else undefined
    ]
}) }}

{% if referral.isProactiveReferral %}
    {% include './proactive.njk' %}
{% else %}
    {% include './reactive.njk' %}
{% endif %}

<h1 class="govuk-heading-m page-break-print">Contributory factors</h1>

{% for factor in contributoryFactors %}
    {{ govukSummaryList({
        card: {
            title: { 
                text: factor.factorType.description,
                classes: "govuk-!-font-size-24"
            },
            classes: "dropshadow"
        },
        rows: [{
            key: {
                text: 'Contributory factor'
            },
            value: {
                html: factor.factorType.description | escape | boldAppendStamp | nl2br | summaryListActionChange(isUpdate, { 
                        href: factor.changeLink,
                        text: "Change",
                        visuallyHiddenText: "the contributory factor",
                        classes: "govuk-link--no-visited-state"
                })
            }
        }, {
            key: {
                text: 'Comment'
            },
            value: {
                html: (factor.comment or 'Not provided') | escape | boldAppendStamp | nl2br | summaryListActionAddInformation(isUpdate, username, factor.comment, { 
                        href: "update-referral/" + factor.factorUuid + "-comment#comment",
                        text: "Add information",
                        visuallyHiddenText: factor.visuallyHiddenCommentText,
                        classes: "govuk-link--no-visited-state"
                })
            }
        }]
    }) }}
{% endfor %}

{% if not contributoryFactors.length %}
    <p class="govuk-!-margin-bottom-6">No contributory factor recorded.</p>
{% endif %}

{% if isUpdate and canAddMoreContributoryFactors %}
    {{ govukButton ({
        classes: "govuk-!-margin-bottom-7 govuk-button--secondary",
        text: "Add another contributory factor" if contributoryFactors.length else "Add contributory factor",
        href: "update-referral/add-contributory-factor"
    }) }}
{% endif %}

{{ govukSummaryList({
    classes: "govuk-!-margin-bottom-7",
    rows: contributoryFactorRows
}) }}

<h1 class="govuk-heading-m page-break-print">Additional information</h1>
{{ govukSummaryList({
    classes: "govuk-!-margin-bottom-7",
    rows: [
        {
            key: {
                text: "Safer Custody aware of referral"
            },
            value: {
                html: (referral.isSaferCustodyTeamInformed | yesNoNotKnown) | summaryListActionChange(isUpdate, { 
                        href: "update-referral/safer-custody#isSaferCustodyTeamInformed",
                        text: "Change",
                        visuallyHiddenText: "if Safer Custody are aware of the referral or not",
                        classes: "govuk-link--no-visited-state"
                })
            }
        },
        {
            key: {
                text: "Other information relating to this referral"
            },
            value: {
                html: (referral.otherInformation or 'Not provided') | escape | boldAppendStamp | nl2br | summaryListActionAddInformation(isUpdate, username, referral.otherInformation, { 
                        href: "update-referral/additional-information#otherInformation",
                        text: "Add information",
                        visuallyHiddenText: "to the additional information relating to the referral", 
                        classes: "govuk-link--no-visited-state" 
                })
            }
        }
    ]
}) }}