{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

<div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Referral</h2>
    </div>
    <div class="govuk-grid-column-one-third">
        <a class="govuk-link govuk-summary-list govuk-summary-list__actions govuk-link--no-visited-state" href="update-referral">Update referral</a>
    </div>
</div>

<h1 class="govuk-heading-m">Referral details</h1>
{{ govukSummaryList({
    classes: "govuk-!-margin-bottom-7",
    rows: [
        {
            key: {
            text: "Referral date"
        },
            value: {
            text: referral.createdAt | formatDisplayDate
        }
        },
        {
            key: {
            text: "Referrer name"
        },
            value: {
            text: referral.referredBy
        }
        },
        {
            key: {
            text: "Area of work"
        },
            value: {
            text: referral.refererArea.description
        }
        },
        {
            key: {
            text: "Proactive or reactive referral"
        },
            value: {
            text: "Proactive" if referral.isProactiveReferral else "Reactive"
        }
        }
    ]
}) }}

{% if referral.isProactiveReferral %}
    {% include './proactive.njk' %}
{% else %}
    {% include './reactive.njk' %}
{% endif %}

<h1 class="govuk-heading-m">Contributory factors</h1>

{% for factor in referral.contributoryFactors %}
    {{ govukSummaryList({
        card: {
            title: { text: factor.factorType.description }
        },
        rows: [{
            key: {
                text: 'Contributory factor'
            },
            value: {
                text: factor.factorType.description
            }
        }, {
            key: {
                text: 'Comment'
            },
            value: {
                html: (factor.comment or 'Not provided') | escape | nl2br
            }
        }]
    }) }}
{% endfor %}

{{ govukSummaryList({
    classes: "govuk-!-margin-bottom-7",
    rows: contributoryFactorRows
}) }}

<h1 class="govuk-heading-m">Additional information</h1>
{{ govukSummaryList({
    classes: "govuk-!-margin-bottom-7",
    rows: [
        {
            key: {
            text: "Safer Custody aware of referral"
        },
            value: {
            text: "Yes" if referral.isSaferCustodyTeamInformed === YesNoDontKnow.YES else ("No" if referral.isSaferCustodyTeamInformed === YesNoDontKnow.NO else "I don’t know")
        }
        },
        {
            key: {
            text: "Other information relating to this referral"
        },
            value: {
            html: (referral.otherInformation or 'Not provided') | escape | nl2br
        }
        }
    ]
}) }}