{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

<h1 class="govuk-heading-l govuk-!-margin-bottom-7">Referral screening</h1>

{{ govukSummaryList({
    classes: "govuk-!-margin-bottom-9",
    rows: [
        {
          key: {
            text: "Screening date"
          },
          value: {
            text: screening.date | formatDisplayDate
          }
        },
        {
          key: {
            text: "Screening outcome"
          },
          value: {
            text: screening.outcome.description
          },
          actions: {
            items: [
              {
                href: "/csip-record/" + recordUuid + "/change-screen/start",
                text: "Change outcome",
                classes: "govuk-link--no-visited-state"
              }
            ]
          }
        },
        {
          key: {
            text: "Reasons for decision"
          },
          value: {
            html: (screening.reasonForDecision | escape | nl2br) if screening.reasonForDecision else "Not provided"
          }
        },
        {
          key: {
            text: "Recorded by"
          },
          value: {
            text: screening.recordedByDisplayName
          }
        }
    ]
}) }}

<hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-9 hide-print">
