{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "partials/layout.njk" %}

{% set pageTitle = "Comments on contributory factors - Make a CSIP referral" %}

{% set contributoryFactorRows = [] %}
{% for factor in contributoryFactors %}
    {% set contributoryFactorRows = (contributoryFactorRows.push({
        key: {
            text: factor.factorType.description
        },
        value: {
            text: factor.comment | escape | nl2br
        } if factor.comment else {
            classes: 'govuk-link govuk-link--no-visited-state',
            html: '<a href="' + (factor.factorType.code | lower | escape)  + '-comment">Add comment<span class="govuk-visually-hidden"> on ' + (factor.factorType.description | escape) + ' factor</span></a>'
        },
        actions: {
            items: [
                {
                    href: (factor.factorType.code | lower | escape)  + '-comment',
                    text: "Edit comment",
                    visuallyHiddenText: 'on ' + (factor.factorType.description | escape) + ' factor',
                    classes: 'govuk-link--no-visited-state'
                }
            ]
        } if factor.comment else undefined
    }), contributoryFactorRows) %}
{% endfor %}

{% block innerContent %}
    <span class="govuk-caption-l">Make a CSIP referral</span>
    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Add comments about the contributory factors (optional)</h1>
    <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
        {{ govukSummaryList({
            rows: contributoryFactorRows
        }) }}
        {{ govukButton({
            text: "Continue",
            preventDoubleClick: true
        }) }}
    </form>
{% endblock %}