{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "partials/layout.njk" %}

{% set pageTitle = "Protective factors - Record a CSIP investigation" %}

{% block innerContent %}
    <span class="govuk-caption-l">Record a CSIP investigation</span>
    <label for="protectiveFactors">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-7">What are the protective factors for {{prisoner | firstNameSpaceLastName}}?</h1>
    </label>
    <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
        {{ govukDetails({
            summaryText: "Help with understanding protective factors",
            html: '
            <p>Protective factors are anything that helps a prisoner deal more effectively
              with stressful events or triggers. </p>
            <p>Include information on any: </p>
            <ul>
              <li>positive influences on their behaviour, both historic and recent</li>
              <li>skills, strengths, resources, supports or coping strategies</li>
            </ul>'
        }) }}
        {{ govukCharacterCount({
            maxlength: 4000,
            rows: 5,
            threshold: "75",
            id: "protectiveFactors",
            name: "protectiveFactors",
            value: protectiveFactors,
            errorMessage: validationErrors | findError('protectiveFactors')
        }) }}
        {{ govukButton({
            text: "Continue",
            preventDoubleClick: true
        }) }}
    </form>
{% endblock %}
