{% from "moj/components/date-picker/macro.njk" import mojDatePicker %}
{% from "partials/submitButton/macro.njk" import submitButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% extends "partials/layout.njk" %}

{% set fullWidth = identifiedNeeds.length %}
{% set pageTitle = "Set a date for the next CSIP review - " + ("Update a" if isUpdate else "Develop an initial") + " plan" %}

{% block innerContent %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% include 'base/components/plan-caption.njk' %}
            <h1 class="govuk-heading-l govuk-!-margin-bottom-7">{{'Change the date of the next CSIP review' if isUpdate else 'Set a date for the next CSIP review'}}</h1>
        </div>
    </div>

    {% if not isUpdate %}
        {{ govukDetails({
            summaryText: "Help with setting a review date",
            html: '
            <p>Choose a review date that’s consistent with the targets and dates in ' + (prisoner | firstNameSpaceLastName | possessiveComma | escape) + ' plan.</p>
            <p>If there’s anything upcoming that could be triggering for ' + (prisoner | firstNameSpaceLastName | escape) + ', it might be useful to set the review date before this.</p>
            '
        }) }}
    {% endif %}

    
    <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
        {{ mojDatePicker({
            id: "nextCaseReviewDate",
            name: "nextCaseReviewDate",
            label: {
                html: '<h2 class="govuk-heading-m">When will you next review the plan with ' + (prisoner | firstNameSpaceLastName | escape) + '?</h2>'
            },
            hint: {
                text: "For example, 24/9/2024"
            },
            value: nextCaseReviewDate,
            errorMessage: validationErrors | findError('nextCaseReviewDate'),
            classes: 'hmpps-datepicker--fixed-width govuk-body',
            minDate: todayStringGBFormat()
        }) }}
        {{ submitButton({
            text: "Confirm and save" if isUpdate else "Continue",
            alternativeHyperlinkHref: isUpdate and ("/csip-records/" + recordUuid)
        }) }}
    </form>    
{% endblock %}