{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "partials/layout.njk" %}

{% set pageTitle = "Record a CSIP investigation decision" %}

{% block innerContent %}
    <span class="govuk-caption-l">Record a CSIP investigation decision</span>
    <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
        {{ govukRadios({
            fieldset: {
                legend: {
                    text: "Who’s signing off on this decision?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-7"
                }
            },
            hint: {
                html: 'The Custodial Manager should sign off on the decision if they’re available.<br/><br/>If the Custodial Manager is not available then another appropriate person can sign off, such as the Residential Governor or a Safer Custody team member.',
                classes: "govuk-!-margin-bottom-7"
            },
            id: "signedOffByRole",
            name: "signedOffByRole",
            items: signedOffByRoleOptions,
            errorMessage: validationErrors | findError('signedOffByRole')
        }) }}
        {{ govukButton({
            text: "Continue",
            preventDoubleClick: true
        }) }}
    </form>
{% endblock %}