{% set pageTitle = "How to make a CSIP referral" %}
{% extends "partials/layout.njk" %}

{% block innerContent %}
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-9">How to make a CSIP referral</h1>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-6">To start a new referral for a prisoner</h2>
    <ol class="govuk-list govuk-list--number govuk-!-margin-bottom-9">
        <li>Search for the prisoner using the <a href="https://digital-dev.prison.service.justice.gov.uk/prisoner-search">main DPS prisoner search</a>.</li>
        <li>Find the prisoner and view their profile page.</li>
        <li>Select ‘Make CSIP referral’ from the action menu on their profile page.</li>
    </ol>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-6">Who can make CSIP referrals</h2>
    <p>A referral can be made by:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li class="govuk-!-margin-bottom-5">any member of staff, including prison officers, healthcare staff, security, educational staff and key workers</li>
        <li class="govuk-!-margin-bottom-5">prisoners referring other prisoners, such as a prisoner reporting concerns about a cell mate</li>
        <li class="govuk-!-margin-bottom-5">prisoners referring themselves — for example, if they feel they can’t control their violent behaviour</li>
        <li>the family members of a prisoner</li>
    </ul>
    <p>If a prisoner or their family member wants to make a referral, you or another member of staff will need to log the referral on their behalf.</p>

{% endblock %}