{% from "moj/components/date-picker/macro.njk" import mojDatePicker %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "partials/submitButton/macro.njk" import submitButton %}

{% extends "partials/layout.njk" %}

{% set pageTitle = "Add information to the planned intervention - Update plan" %}

{% block innerContent %}
    <span class="govuk-caption-l">Update a plan</span>
    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Intervention details</h1>
    <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

    <div class="govuk-!-margin-bottom-6">
        <h1 class="govuk-heading-s govuk-!-margin-0">Identified need summary:</h1>
        <p class="break-word">{{ identifiedNeed }}</p>
    </div>
        {{ govukCharacterCount({
            label: {
              text: "Who’s responsible for taking action?",
              classes: "govuk-label--m",
              isPageHeading: true
            },
            maxlength: 100,
            rows: 1,
            threshold: "75",
            id: "responsiblePerson",
            name: "responsiblePerson",
            hint: {
              text: "For example, the prisoner or a staff member supporting the prisoner."
            },
            value: responsiblePerson,
            classes: "govuk-input--width-30 single-row-textarea",
            errorMessage: validationErrors | findError('responsiblePerson'),
            hint: {
                text: "For example, the prisoner or a staff member supporting the prisoner."
            }
        }) }}

        {{ mojDatePicker({
            label: {
              text: "What’s the target date for progress?",
              classes: "govuk-label--m",
              isPageHeading: true
            },
            classes: "hmpps-datepicker--fixed-width govuk-body",
            id: "targetDate",
            name: "targetDate",
            value: targetDate,
            hint: {
              text: "For example, 31/8/2024."
            },
            errorMessage: validationErrors | findError('targetDate')
        }) }}
        {{ submitButton({
            text: "Confirm and save",
            alternativeHyperlinkHref: "/csip-records/" + recordUuid
        }) }}
    </form>
{% endblock %}
