{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% extends "partials/layout.njk" %}

{% set fullWidth = true %}
{% set pageTitle = "Update the most recent review - CSIP" if reviewCount > 1 else "Update the review - CSIP" %}

{% block pageHeader %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Update the {% if reviewCount > 1 %}most recent{% endif %} review of {{ prisoner | firstNameSpaceLastName | possessiveComma }} plan</h1>
        </div>
    </div>
{% endblock %}

{% block innerContent %}
  <p class="govuk-!-margin-bottom-8">
    <strong>CSIP log code:</strong> {{ record.logCode or "Not provided" }}
  </p>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-6">Review information</h2>
    {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-7",
        rows: [
            {
                key: {
                text: "Review date"
            },
                value: {
                html: review.reviewDate | formatDisplayDate
            }
            },
            {
                key: {
                text: "Recorded by"
            },
                value: {
                html: review.recordedByDisplayName
            }
            },
            {
                key: {
                text: "Review details"
            },
                value: {
                html: (review.summary or 'Not provided') | escape | nl2br
            },
                actions: {
                items: [
                    {
                        href: "update-review/details#summary",
                        text: "Change",
                        visuallyHiddenText: "the details of the review",
                        classes: "govuk-link--no-visited-state"
                    }
                ]
            }
            },
            {
                key: {
                text: "Review outcome"
            },
                value: {
                text: "Close the CSIP" if review.csipClosedDate else "Keep the prisoner on the plan"
            },
                actions: {
                items: [
                    {
                        href: "update-review/outcome#outcome",
                        text: "Change",
                        visuallyHiddenText: "the review outcome",
                        classes: "govuk-link--no-visited-state"
                    }
                ]
            }
            },
            {
                key: {
                text: "Next review date"
            },
                value: {
                html: (review.nextReviewDate | formatDisplayDate) or 'Not provided'
            },
                actions: {
                items: [
                    {
                        href: "update-review/next-review-date#nextReviewDate",
                        text: "Change",
                        visuallyHiddenText: "the next review date",
                        classes: "govuk-link--no-visited-state"
                    }
                ]
            }
            }
        ]
    }) }}

    <div class="govuk-grid-row govuk-!-margin-bottom-6">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">Participants and contributions</h2>
        </div>
    </div>

    {% if attendees.length %}
        {% for attendee in attendees %}
            {{ govukSummaryList({
                card: {
                    title: { text: "Participant: " + attendee.name },
                    classes: "govuk-!-margin-bottom-8" if loop.index === attendees.length else undefined
                },
                rows: [{
                    key: {
                        text: 'Name'
                    },
                    value: {
                        text: attendee.name or 'Not provided'
                    },
                    actions: {
                        items: [
                            {
                                href: 'update-review/update-participant-contribution-details/' + attendee.attendeeUuid + '#name',
                                text: "Change",
                                visuallyHiddenText: "the participant’s name",
                                classes: "govuk-link--no-visited-state"
                            }
                        ]
                    }
                },{
                    key: {
                        text: 'Role'
                    },
                    value: {
                        text: attendee.role or 'Not provided'
                    },
                    actions: {
                        items: [
                            {
                                href: 'update-review/update-participant-contribution-details/' + attendee.attendeeUuid + '#role',
                                text: "Change",
                                visuallyHiddenText: "the participant’s role",
                                classes: "govuk-link--no-visited-state"
                            }
                        ]
                    }
                },{
                    key: {
                        text: 'Attended in person'
                    },
                    value: {
                        text: 'Yes' if attendee.isAttended === true else ('No' if attendee.isAttended === false else 'Not provided')
                    },
                    actions: {
                        items: [
                            {
                                href: 'update-review/update-participant-contribution-details/' + attendee.attendeeUuid + '#isAttended',
                                text: "Change",
                                visuallyHiddenText: "whether the participant attended the review meeting in person or not",
                                classes: "govuk-link--no-visited-state"
                            }
                        ]
                    }
                },{
                    key: {
                        text: 'Contribution'
                    },
                    value: {
                        html: (attendee.contribution or 'Not provided') | escape | boldAppendStamp | nl2br
                    },
                    actions: {
                        items: [
                            {
                                href: 'update-review/update-participant-contribution-details/' + attendee.attendeeUuid + '#contribution',
                                text: "Change",
                                visuallyHiddenText: "the description of the participant’s contribution to the review",
                                classes: "govuk-link--no-visited-state"
                            }
                        ]
                    }
                }]
            }) }}
        {% endfor %}

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                {{ govukDetails({
                    summaryText: "How can I delete a participant?",
                    html: '
            <p>It’s not possible to delete participants recorded in a CSIP review.</p>
            <p>To remove information about a participant, you can overwrite the participant information using the ‘Change’ links.</p>
            '
                }) }}
            </div>
        </div>
    {% else %}
        <p class="govuk-!-margin-bottom-6">No contribution recorded.</p>
    {% endif %}

  {{ govukButton ({
    classes: "govuk-!-margin-bottom-7 govuk-button--secondary",
    text: "Add participant" if not attendees.length else "Add another participant",
    href: "update-review/participant-contribution-details"
  }) }}

  <div class="govuk-summary-list">
    <a class="govuk-link govuk-link--no-visited-state" href="{{secondaryButton.link}}">{{ secondaryButton.label }}</a>
  </div>
{% endblock %}