{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "partials/submitButton/macro.njk" import submitButton %}

{% extends "partials/layout.njk" %}

{% set pageTitle = "Safer Custody - Update a CSIP referral" if isUpdate else "Safer Custody - Make a CSIP referral" %}

{% block innerContent %}
    {% include 'base/components/referral-caption.njk' %}
    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Is the Safer Custody team already aware of this referral?</h1>
    <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
        {{ govukRadios({
            items: [
                {
                    value: YesNoDontKnow.YES,
                    text: "Yes",
                    checked: isSaferCustodyTeamInformed === YesNoDontKnow.YES
                },
                {
                    value: YesNoDontKnow.NO,
                    text: "No",
                    checked: isSaferCustodyTeamInformed === YesNoDontKnow.NO
                },
                {
                    divider: "or"
                },
                {
                    value: YesNoDontKnow.DO_NOT_KNOW,
                    text: "Not known",
                    checked: isSaferCustodyTeamInformed === YesNoDontKnow.DO_NOT_KNOW
                }
            ],
            name: "isSaferCustodyTeamInformed",
            id: "isSaferCustodyTeamInformed",
            errorMessage: validationErrors | findError('isSaferCustodyTeamInformed')
        }) }}
        {{ submitButton({
            text: "Confirm and save" if isUpdate else "Continue",
            alternativeHyperlinkHref: isUpdate and ("/csip-records/" + recordUuid)
        }) }}
    </form>
{% endblock %}