<p class="govuk-body">
    <a class="govuk-link govuk-link--no-visited-state" href="/manage-csips?query={{ prisoner.prisonerNumber }}">View CSIP details for {{ prisoner | firstNameSpaceLastName }}</a>
</p>
<p class="govuk-body">
    <a class="govuk-link govuk-link--no-visited-state" href="/manage-csips?clear=true">View all CSIPs for {{ user.activeCaseLoad.description }}</a>
</p>