{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "moj/components/page-header-actions/macro.njk" import mojPageHeaderActions %}
{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "partials/statusTag/macro.njk" import statusTag %}

{% set fullWidth = true %}

{% block additionalScripts %}
  <script type="text/javascript" nonce="{{ cspNonce }}">
      const printButton = document.getElementById('print-button');
      if (printButton === null) {
        if (!window.__customPrintObserver) {
          const observer = new MutationObserver(mutationList => {
            mutationList.forEach(mutation => {
              if (mutation.type === 'childList') {
                mutation.addedNodes.forEach(node => {
                  if (node.id === 'print-button' && node.classList.contains('govuk-!-display-none')) {
                    node.classList.remove('govuk-!-display-none');
                    node.ariaHidden = false;
                    node.onclick = function () { print(); }
                  }
                });
              }
            })
          });

          observer.observe(document.documentElement, { attributes: false, childList: true, subtree: true })

          window.__customPrintObserver = observer
        }
      } else {
        printButton.classList.remove('govuk-!-display-none');
        printButton.removeAttribute('aria-hidden');
        printButton.onclick = function () { print(); }
      }

      // open closed details elements for printing
      window.addEventListener('beforeprint',() =>
      {
          const allDetails = document.body.querySelectorAll('details');
          for(let i=0; i<allDetails.length; i++)
          {
              if(allDetails[i].open)
              {
                  allDetails[i].dataset.open = '1';
              }
              else
              {
                  allDetails[i].setAttribute('open', '');
              }
          }
      });

      // after printing close details elements not opened before
      window.addEventListener('afterprint',() =>
      {
          const allDetails = document.body.querySelectorAll('details');
          for(let i=0; i<allDetails.length; i++)
          {
              if(allDetails[i].dataset.open)
              {
                  allDetails[i].dataset.open = '';
              }
              else
              {
                  allDetails[i].removeAttribute('open');
              }
          }
      });
  </script>
{% endblock %}



{% switch updatingEntity %}
{% case 'plan' %}
  {% set pageTitle = "Update a plan" %}
{% default %}
  {% set pageTitle = ("Update a CSIP " + updatingEntity) if isUpdate else "CSIP record - CSIP" %}
{% endswitch %}

{% extends "partials/layout.njk" %}

{% if actionButton and isCsipProcessor %}
  {% set actionButtonHtml %}
    <form method="post" action="/csip-records/{{ recordUuid }}">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
      <input type="hidden" name="action" value="{{ actionButton.action }}"/>
      {{ govukButton({
        text: actionButton.label,
        preventDoubleClick: true,
        classes: 'govuk-body govuk-!-margin-bottom-0'
      }) }}
    </form>
  {% endset %}
{% endif %}

{% set printButtonHtml %}
  {{ govukButton({
    text: "Print",
    type: "button",
    preventDoubleClick: true,
    attributes: {
      id: "print-button",
      "aria-hidden": true,
      onclick: "javascript:print();"
    },
    classes: 'govuk-button--secondary govuk-!-margin-bottom-0 govuk-!-margin-left-4 govuk-!-display-none'
  }) }}
{% endset %}

{% switch (updatingEntity or 'null') %}
  {% case 'null' %}
    {% set basePageHeader = 'CSIP for ' + (prisoner | firstNameSpaceLastName) %}
  {% case 'plan' %}
    {% set basePageHeader = (prisoner | firstNameSpaceLastName | possessiveComma) + ' plan' %}
  {% default %}
    {% set basePageHeader = 'CSIP ' + updatingEntity + ' for ' + (prisoner | firstNameSpaceLastName) %}
{% endswitch %}

{% block pageHeader %}
  {% if successMessage %}
    {{ govukNotificationBanner({
      text: successMessage,
      type: "success"
    }) }}
  {% endif %}

  <div id="print-header" class="govuk-body"></div>
  {% if isUpdate %}
    <h1 class="govuk-heading-l">Update {{ basePageHeader }}</h1>
  {% else %}
    {{ mojPageHeaderActions({
      classes: 'govuk-!-margin-bottom-3',
      heading: {
        text: basePageHeader,
        classes: 'govuk-heading-xl'
      },
      items: [
        {
          html: actionButtonHtml,
          classes: 'govuk-!-display-none'
        },
        {
          html: printButtonHtml,
          classes: 'govuk-!-display-none'
        }
      ] if actionButton else [{
          html: printButtonHtml,
          classes: 'govuk-!-display-none'
        }]
    }) }}
    <hr class="govuk-section-break govuk-section-break--visible">
  {% endif %}
{% endblock %}

{% block innerContent %}
  {% if not isUpdate %}
    <p class="govuk-!-margin-bottom-6">
      <strong>Status</strong>: {{ statusTag({ record: record }) }}
    </p>
    <p class="govuk-!-margin-bottom-8">
      <strong>CSIP log code:</strong> {{ record.logCode or "Not provided" }}
      {% if isCsipProcessor %}
        <a class="govuk-link govuk-link--no-visited-state govuk-!-margin-left-2" href="/csip-record/{{ recordUuid }}/edit-log-code/start">Edit log code</a>
      {% endif %}
    </p>
    {% if not shouldShowTabs %}
      <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-8">
    {% endif %}
  {% endif %}

  {% if shouldShowTabs %}
    {{ mojSubNavigation({
      label: 'Sub navigation',
      items: [{
        text: 'Plan',
        href: 'plan',
        active: tabSelected == 'plan'
      }, {
        text: 'Reviews',
        href: 'reviews',
        active: tabSelected == 'reviews'
      },{
        text: 'Investigation',
        href: 'investigation',
        active: tabSelected == 'investigation'
      }, {
        text: 'Referral',
        href: 'referral',
        active: tabSelected == 'referral'
      }] if plan else [{
        text: 'Investigation',
        href: 'investigation',
        active: tabSelected == 'investigation'
      }, {
        text: 'Referral',
        href: 'referral',
        active: tabSelected == 'referral'
      }]
    }) }}
  {% endif %}

  

  {% if tabSelected == 'referral' %}
    {% if screening %}
      {% include './components/screening.njk' %}
    {% endif %}
    {% include './components/referral.njk' %}
  {% elif tabSelected == 'investigation' %}
    {% if decision %}
      {% include './components/decision.njk' %}
    {% endif %}
    {% if not decision or not isUpdate %}
      {% include './components/investigation.njk' %}
    {% endif %}
  {% elif tabSelected == 'plan' %}
    {% include './components/plan.njk' %}
  {% elif tabSelected == 'reviews' %}
    {% include './components/reviews.njk' %}
  {% endif %}

  <form method="post" action="/csip-records/{{ recordUuid }}">
  <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
  <input type="hidden" name="action" value="{{ actionButton.action }}"/>
  <div class="govuk-button-group">
    {% if actionButton and isCsipProcessor %}
      {{ govukButton({
        text: actionButton.label,
        preventDoubleClick: true,
        classes: 'govuk-body govuk-!-margin-bottom-0'
      }) }}
    {% endif %}
    {% if secondaryButton and (isCsipProcessor or secondaryButton.label == 'Update referral') %}
      <a class="govuk-link govuk-body govuk-link--no-visited-state" href="{{ secondaryButton.link }}">{{ secondaryButton.label }}</a>
    {% endif %}
  </div>
  </form>
{% endblock %}