{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% extends "referral/check-answers/view-base.njk" %}

{% block proactiveOrReactiveContent %}
    <h1 class="govuk-heading-m">Behaviour details</h1>
    {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-7",
        rows: [
            {
                key: {
                text: "Date of occurrence"
            },
                value: {
                text: referral.incidentDate | formatDisplayDate
            },
                actions: {
                items: [
                    {
                        href: "details",
                        text: "Change",
                        visuallyHiddenText: "date of occurrence"
                    }
                ]
            }
            },
            {
                key: {
                text: "Time of occurrence"
            },
                value: {
                text: referral.incidentTime or "Not provided"
            },
                actions: {
                items: [
                    {
                        href: "details",
                        text: "Change",
                        visuallyHiddenText: "time of occurrence"
                    }
                ]
            }
            },
            {
                key: {
                text: "Location of occurrence"
            },
                value: {
                text: referral.incidentLocation.description
            },
                actions: {
                items: [
                    {
                        href: "details",
                        text: "Change",
                        visuallyHiddenText: "location of occurrence"
                    }
                ]
            }
            },
            {
                key: {
                text: "Main concern"
            },
                value: {
                text: referral.incidentType.description
            },
                actions: {
                items: [
                    {
                        href: "details",
                        text: "Change",
                        visuallyHiddenText: "main concern"
                    }
                ]
            }
            }
        ]
    }) }}

    <h1 class="govuk-heading-m">Behaviour involvement</h1>
    {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-7",
        rows: [
            {
                key: {
                text: "Prisoner involvement"
            },
                value: {
                text: referral.incidentInvolvement.description
            },
                actions: {
                items: [
                    {
                        href: "involvement",
                        text: "Change",
                        visuallyHiddenText: "how the prisoner was involved"
                    }
                ]
            }
            },
            {
                key: {
                text: "Staff assaulted"
            },
                value: {
                text: 'Yes' if referral.staffAssaulted else 'No'
            },
                actions: {
                items: [
                    {
                        href: "involvement",
                        text: "Change",
                        visuallyHiddenText: "if a staff member was assaulted or not"
                    }
                ]
            }
            },
            {
                key: {
                text: "Names of staff assaulted"
            },
                value: {
                text: referral.assaultedStaffName or ''
            },
                actions: {
                items: [
                    {
                        href: "involvement",
                        text: "Change",
                        visuallyHiddenText: "the name of the staff members assaulted"
                    }
                ]
            }
            }
        ] | filterBy(involvementFilter)
    }) }}

    <h1 class="govuk-heading-m">Behaviour description</h1>
    {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-7",
        rows: [
            {
                key: {
                text: "Description of behaviour and concerns"
            },
                value: {
                text: referral.descriptionOfConcern
            },
                actions: {
                items: [
                    {
                        href: "description",
                        text: "Change",
                        visuallyHiddenText: "the description of the behaviour and concerns"
                    }
                ]
            }
            },
            {
                key: {
                text: "Reasons given for the behaviour"
            },
                value: {
                text: referral.knownReasons
            },
                actions: {
                items: [
                    {
                        href: "reasons",
                        text: "Change",
                        visuallyHiddenText: "the reasons given for the behaviour"
                    }
                ]
            }
            }
        ]
    }) }}
{% endblock %}