{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "partials/layout.njk" %}

{% set fullWidth = true %}
{% set headerText = "Check your answers before submitting the referral" %}
{% set pageTitle = [headerText, " - Make a CSIP referral"] | join %}

{% block innerContent %}

     <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-l">Make a CSIP referral</span>
            <h1 class="govuk-heading-l govuk-!-margin-bottom-7">{{ headerText }}</h1>
        </div>
    </div>

    <h2 class="govuk-heading-m">Referral details</h2>
    {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-7",
        rows: [
            {
                key: {
                text: "Referral made on behalf of someone else"
            },
                value: {
                text: "Yes" if referral.isOnBehalfOfReferral else "No"
            },
                actions: {
                items: [
                    {
                        href: "on-behalf-of#isOnBehalfOfReferral",
                        text: "Change",
                        visuallyHiddenText: "if the referral is being made on behalf of someone else or not",
                        classes: "govuk-link--no-visited-state"
                    }
                ]
            }
            },
            {
                key: {
                text: "Name of referrer"
            },
                value: {
                text: referral.referredBy
            },
                actions: {
                items: [
                    {
                        href: "referrer#referredBy",
                        text: "Change",
                        visuallyHiddenText: "name of referrer",
                        classes: "govuk-link--no-visited-state"
                    }
                ]
            }
            } if referral.isOnBehalfOfReferral else undefined,
            {
                key: {
                text: "Area of work"
            },
                value: {
                text: referral.refererArea.description
            },
                actions: {
                items: [
                    {
                        href: "referrer#areaOfWork" if referral.isOnBehalfOfReferral else "area-of-work#areaOfWork",
                        text: "Change",
                        visuallyHiddenText: "area of work",
                        classes: "govuk-link--no-visited-state"
                    }
                ]
            }
            },
            {
                key: {
                text: "Proactive or reactive referral"
            },
                value: {
                text: "Proactive" if referral.isProactiveReferral else "Reactive"
            },
                actions: {
                items: [
                    {
                        href: "proactive-or-reactive#isProactiveReferral",
                        text: "Change",
                        visuallyHiddenText: "if the referral is proactive or reactive",
                        classes: "govuk-link--no-visited-state"
                    }
                ]
            }
            }
        ]
    }) }}

    {% if referral.isProactiveReferral %}
        {% include './components/proactive.njk' %}
    {% else %}
        {% include './components/reactive.njk' %}
    {% endif %}

    {% set factors = [] %}
    {% for factor in referral.contributoryFactors %}
        {% set factors = (factors.push(factor.factorType.description | escape), factors) %}
    {% endfor %}

    {% set contributoryFactorRows = [{
        key: {
            text: "Contributory factors"
        },
        value: {
            html: factors | join('<br/>')
        },
        actions: {
            items: [
                {
                    href: "contributory-factors#contributoryFactors",
                    text: "Change",
                    visuallyHiddenText: "the contributory factors",
                    classes: "govuk-link--no-visited-state"
                }
            ]
        }
    }] %}
    {% for factor in referral.contributoryFactors %}
        {% set contributoryFactorRows = (contributoryFactorRows.push({
            key: {
                text: 'Comment on ' + (factor.factorType.description | sentenceCase(false)) + ' factors'
            },
            value: {
                html: (factor.comment or 'Not provided') | escape | nl2br
            },
            actions: {
                items: [
                    {
                        href: (factor.factorType.code | lower | escape)  + '-comment#comment',
                        text: "Change",
                        visuallyHiddenText: "the comment on " + (factor.factorType.description | sentenceCase(false)) + " factors",
                        classes: "govuk-link--no-visited-state"
                    }
                ]
            }
        }), contributoryFactorRows) %}
    {% endfor %}

    <h2 class="govuk-heading-m">Contributory factors</h2>
    {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-7",
        rows: contributoryFactorRows
    }) }}

    <h2 class="govuk-heading-m">Additional information</h2>
    {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-7",
        rows: [
            {
                key: {
                text: "Safer Custody aware of referral"
            },
                value: {
                text: "Yes" if referral.isSaferCustodyTeamInformed === YesNoDontKnow.YES else ("No" if referral.isSaferCustodyTeamInformed === YesNoDontKnow.NO else "Not known")
            },
                actions: {
                items: [
                    {
                        href: "safer-custody#isSaferCustodyTeamInformed",
                        text: "Change",
                        visuallyHiddenText: "if Safer Custody are aware of the referral or not",
                        classes: "govuk-link--no-visited-state"
                    }
                ]
            }
            },
            {
                key: {
                text: "Other information relating to this referral"
            },
                value: {
                html: (referral.otherInformation or 'Not provided') | escape | nl2br
            },
                actions: {
                items: [
                    {
                        href: "additional-information#otherInformation",
                        text: "Change",
                        visuallyHiddenText: "the additional information relating to the referral",
                        classes: "govuk-link--no-visited-state"
                    }
                ]
            }
            }
        ]
    }) }}

    <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
        <div class="govuk-button-group">
            {{ govukButton({
                text: "Confirm and submit",
                preventDoubleClick: true
            }) }}
            <a class="govuk-link govuk-link--no-visited-state" href="cancellation-check">Cancel</a>
        </div>
    </form>
{% endblock %}
