{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "partials/submitButton/macro.njk" import submitButton %}

{% extends "partials/layout.njk" %}

{% set pageTitle = "Is this referral proactive or reactive - Update a CSIP referral" if isUpdate else "Is this referral proactive or reactive - Make a CSIP referral" %}

{% block innerContent %}
    {% include 'base/components/referral-caption.njk' %}
    <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
        {{ govukRadios({
            fieldset: {
                legend: {
                    text: 'Is this referral proactive or reactive?',
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-7"
                }
            },
            id: 'isProactiveReferral',
            name: 'isProactiveReferral',
            items: [
                {
                    value: 'proactive',
                    text: "Proactive",
                    hint: {
                        text: "This referral is preventative and based on a raised risk of an incident occurring."
                    },
                    checked: isProactiveReferral === true
                },
                {
                    value: 'reactive',
                    text: "Reactive",
                    hint: {
                        text: "This referral is being made in response to an incident."
                    },
                    checked: isProactiveReferral === false
                }
            ],
            errorMessage: validationErrors | findError('isProactiveReferral')
        }) }}
        {{ submitButton({
            text: "Confirm and save" if isUpdate else "Continue",
            alternativeHyperlinkHref: isUpdate and ("/csip-records/" + recordUuid)
        }) }}
    </form>
{% endblock %}