{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "moj/components/date-picker/macro.njk" import mojDatePicker %}
{% from "partials/submitButton/macro.njk" import submitButton %}

{% extends "partials/layout.njk" %}

{% set titleText = "Behaviour details" if isProactiveReferral else "Incident details" %}
{% set datePickerHeading = "When was the most recent occurrence of the behaviour?" if isProactiveReferral else "When was the incident?" %}
{% set datePickerLabel = "Date of occurrence" if isProactiveReferral else "Date of incident" %}
{% set incidentTimeLabel = "Time of occurrence (optional)" if isProactiveReferral else "Time of incident (optional)" %}
{% set incidentLocationLabel = "Where was the most recent occurrence of the behaviour?" if isProactiveReferral else "Where did the incident occur?"  %}
{% set incidentTypeLabel = "What’s the main concern?" if isProactiveReferral else "What was the incident type?" %}

{% set flowName = "Update CSIP referral" if isUpdate else "Make a CSIP referral" %}
{% set errorPrefix = 'Error: ' if validationErrors else '' %}
{% set pageTitle =  [errorPrefix, titleText, " - ", flowName] | join %}

{% set customErrorOrder = ['incidentDate', 'incidentTime', 'incidentLocation', 'incidentType'] %}

{% block innerContent %}
    {% include 'base/components/referral-caption.njk' %}
    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">{{ titleText }}</h1>
    <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
        <h2 class="govuk-heading-m">{{ datePickerHeading }}</h2>
        {{ mojDatePicker({
            id: "incidentDate",
            name: "incidentDate",
            label: {
                text: datePickerLabel
            },
            value: incidentDate,
            errorMessage: validationErrors | findError('incidentDate'),
            classes: 'hmpps-datepicker--fixed-width govuk-body',
            maxDate: todayStringGBFormat()
        }) }}
        {{ govukDateInput({
            id: "incidentTime",
            name: "incidentTime",
            fieldset: {
                legend: {
                    text: incidentTimeLabel
                }
            },
            hint: {
                text: 'Use the 24-hour clock. For example, 09 08 or 17 32.'
            },
            errorMessage: validationErrors | findError('incidentTime'),
            items: [
                {
                    name: "hour",
                    label: "Hour",
                    value: hour,
                    classes: 'govuk-input--width-2'
                },
                {
                    name: "minute",
                    label: "Minute",
                    value: minute,
                    classes: 'govuk-input--width-2'
                }
            ]
        }) }}
        {{ govukSelect({
            label: {
                text: incidentLocationLabel,
                classes: "govuk-label--m"
            },
            id: "incidentLocation",
            name: "incidentLocation",
            items: incidentLocationOptions,
            errorMessage: validationErrors | findError('incidentLocation')
        }) }}
        {{ govukSelect({
            label: {
                text: incidentTypeLabel,
                classes: "govuk-label--m"
            },
            id: "incidentType",
            name: "incidentType",
            items: incidentTypeOptions,
            errorMessage: validationErrors | findError('incidentType')
        }) }}
        {{ submitButton({
            text: "Confirm and save" if isUpdate else "Continue",
            alternativeHyperlinkHref: isUpdate and ("/csip-records/" + recordUuid)
        }) }}
    </form>
{% endblock %}