{% from "partials/simplePagination/macro.njk" import simplePagination %}
{% from "partials/statusTag/macro.njk" import statusTag %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "./components/reviewDate.njk" import reviewDate %}

{% set CSIPS = 'csips' %}
{% set PLANS = 'plans' %}
{% set REFERRALS = 'referrals' %}

{% set fullWidth = true %}
{% set pageTitle = "CSIP caseload" if pageName == CSIPS else ("Open and closed CSIPs" if pageName == PLANS else "CSIP referrals in progress") %}
{% extends "partials/layout.njk" %}

{% block innerContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>
    </div>
      <div class="light-box govuk-grid-column-one-third govuk-!-padding-top-2">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Change view</h2>
        <ul class="govuk-list">
          {% if pageName != CSIPS %}
            <li>
              <a href="/manage-csips" class="govuk-link govuk-link--no-visited-state">All of the CSIP caseload</a>
            </li>
          {% endif %}

          {% if pageName != PLANS %}
            <li>
              <a href="/manage-plans" class="govuk-link govuk-link--no-visited-state">Plans only</a>
            </li>
          {% endif %}

          {% if pageName != REFERRALS %}
            <li>
              <a href="/manage-referrals" class="govuk-link govuk-link--no-visited-state">Referrals in progress only</a>
            </li>
          {% endif %}
        </ul>
      
    </div>
  </div>

<hr class="govuk-section-break govuk-section-break--m">
  <form method="post" class="govuk-grid-row govuk-!-margin-bottom-7 govuk-!-padding-6 search-form">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
    <h2 class="govuk-heading-m">Filter by</h2>
    <div class="horizontal-form">
      {{ govukInput({
        id: "query",
        name: "query",
        value: query,
        classes: "min-width-one-quarter",
        label: {
          text: 'Name or prison number'
        }
      }) }}

      {{ govukSelect({
        id: "status",
        name: "status",
        classes: "min-width-one-quarter",
        label: {
          text: "CSIP status"
        },
        items: statuses | sort(false, false, 'text') | setSelected(status or '')
      }) }}

      {{ govukButton({
        text: "Apply filters",
        preventDoubleClick: true
      }) }}
      <a class="govuk-link govuk-link--no-visited-state govuk-body no-label-form-clear-link" href="?clear=true">Clear</a>
    </div>
  </form>

  {% if records.length %}
    {{ simplePagination(paginationParams)  }}
  {% endif %}

  {% set csipRecordRows = [] %}
  {% for csipRecord in records %}
    {% set csipRecordRows = (csipRecordRows.push([
      {
        html: '<a class="govuk-link--no-visited-state" href="' + prisonerProfileUrl + '/prisoner/' + csipRecord.prisoner.prisonNumber + '">' + csipRecord.prisoner | lastNameCommaFirstName + "</a><br/>" + csipRecord.prisoner.prisonNumber
      },
      {
        classes: 'col-width-200',
        html: csipRecord.prisoner.location | softHyphenate(20)
      },
      {
        text: csipRecord.referralDate | formatSimpleDisplayDate
      },
      {
        classes: 'col-width-200',
        html: csipRecord.logCode or '-'
      },
      {
        classes: 'col-width-200',
        html: (csipRecord.caseManager | softHyphenate(20)) or '-'
      } if pageName != REFERRALS,
      {
        html: reviewDate({  date: csipRecord.nextReviewDate | formatSimpleDisplayDate, emptyLabel: '-' })
      } if pageName != REFERRALS,
      {
        text: csipRecord.incidentType or '-'
      } if pageName == REFERRALS,
      {
        html: statusTag({ record: csipRecord })
      },
      {
        html: '<a class="govuk-link govuk-link--no-visited-state" href="/csip-records/' + csipRecord.id + '">View<span class="govuk-visually-hidden"><span id="prisoner-name">' + csipRecord.prisoner | lastNameCommaFirstName + '</span> CSIP record</span></a>'
      }
    ] | select()), csipRecordRows) %}
  {% endfor %}

  {% if records.length %}
    <caption>
      <span class="govuk-visually-hidden">Column headers with buttons are sortable.</span>
    </caption>

    {{ govukTable({
      firstCellIsHeader: false,
      classes: 'table-vertical-align-middle govuk-!-margin-top-6',
      head: [
      { text: 'Name and prison number', key: 'name' },
      { text: "Location", key: 'location' },
      { text: "Referral date", key: 'referralDate' },
      { text: "CSIP log code", key: 'logCode' },
      { text: "Case Manager", key: 'caseManager' } if pageName != REFERRALS,
      { text: "Next review date", key: 'nextReviewDate' } if pageName != REFERRALS,
      { text: "Incident type or main concern", key: 'incidentType' } if pageName == REFERRALS,
      { text: 'CSIP status', key: 'status' },
      { text: '' }
    ] | select() | convertToSortableColumns(sort or ('nextReviewDate,asc' if pageName == PLANS else 'name,asc'), hrefTemplate),
      rows: csipRecordRows
    }) }}
  {% else %}
    <p class="govuk-!-margin-bottom-6">No results for this search criteria.</p>
  {% endif %}

  {% if records.length %}
    {{ simplePagination(paginationParams)  }}
  {% endif %}

{% endblock %}