{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "moj/components/date-picker/macro.njk" import mojDatePicker %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "partials/submitButton/macro.njk" import submitButton %}

{% extends "partials/layout.njk" %}

{% set pageTitle = "Interview details - Update a CSIP investigation" if isUpdate else "Interview details - Record a CSIP investigation " %}

{% block innerContent %}
    {% include 'base/components/investigation-caption.njk' %}
    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Interview details</h1>
    <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

        {{ govukCharacterCount({
            label: {
              text: "Interviewee name",
              classes: "govuk-label--m",
              isPageHeading: true
            },
            maxlength: 100,
            rows: 1,
            threshold: "75",
            id: "interviewee",
            name: "interviewee",
            value: interviewee,
            classes: "govuk-input--width-30 single-row-textarea",
            errorMessage: validationErrors | findError('interviewee')
        }) }}

        {{ mojDatePicker({
            label: {
              text: "Interview date",
              classes: "govuk-label--m",
              isPageHeading: true
            },
            maxDate: todayStringGBFormat(),
            classes: "hmpps-datepicker--fixed-width govuk-body",
            id: "interviewDate",
            name: "interviewDate",
            value: interviewDate,            hint: {
              text: "For example, 31/3/2023."
            },
            errorMessage: validationErrors | findError('interviewDate')
        }) }}
        {{ govukRadios({
            fieldset: {
                legend: {
                    text: "How was the interviewee involved?",
                    classes: "govuk-fieldset__legend--m"
                }
            },
            id: "intervieweeRole",
            name: "intervieweeRole",
            items: intervieweeRoleOptions,
            errorMessage: validationErrors | findError('intervieweeRole')
        }) }}

        {{ govukCharacterCount({
            label: {
              text: "Comments (optional)",
              classes: "govuk-label--m",
              isPageHeading: true
            },
            maxlength: 4000,
            rows: 5,
            threshold: "75",
            id: "interviewText",
            name: "interviewText",
            value: interviewText,
            errorMessage: validationErrors | findError('interviewText')
        }) }}
        {{ submitButton({
            text: "Confirm and save" if isUpdate else "Continue",
            alternativeHyperlinkHref: isUpdate and ("/csip-records/" + recordUuid)
        }) }}
    </form>
{% endblock %}
