{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "partials/submitButton/macro.njk" import submitButton %}
{% extends "partials/layout.njk" %}

{% set titleText = "Behaviour involvement" if isProactiveReferral else "Incident involvement" %}
{% set flowName = "Update a CSIP referral" if isUpdate else "Make a CSIP referral" %}
{% set pageTitle =  [titleText, " - ", flowName] | join %}

{% block content %}
    {% include 'base/components/referral-caption.njk' %}
    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">{{ "Behaviour involvement" if isProactiveReferral else "Incident involvement" }}</h1>

    <form method="post">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

      {% set involvementTypeLabel -%}
        How was {{ prisoner | firstNameSpaceLastName }} involved in the {{ "behaviour" if isProactiveReferral else "incident" }}?
      {%- endset %}

      {% set staffAssaultedLabel -%}
        {{ "Have any staff been assaulted as a result of this behaviour?" if isProactiveReferral else "Were any staff assaulted during the incident?" }}
      {%- endset %}

      {{ govukRadios({
          name: "involvementType",
          fieldset: {
              legend: {
                  text: involvementTypeLabel,
                  classes: "govuk-fieldset__legend--m"
              }
          },
          items: involvementTypeItems,
          errorMessage: validationErrors | findError('involvementType')
      }) }}
      {% set staffMemberAssaultedHtml %}
          {{ govukCharacterCount({
              label: {
                  text: "Names of staff assaulted"
              },
              maxlength: 240,
              rows: 1,
              threshold: "100",
              classes: "govuk-input--width-10 single-row-textarea",
              id: "assaultedStaffName",
              name: "assaultedStaffName",
              value: assaultedStaffName,
              errorMessage: validationErrors | findError('assaultedStaffName')
          }) }}
      {% endset -%}
      {{ govukRadios({
          name: "isStaffAssaulted",
          fieldset: {
              legend: {
                  text: staffAssaultedLabel,
                  classes: "govuk-fieldset__legend--m"
              }
          },
          items: [
            {
              value: true,
              text: "Yes",
              checked: isStaffAssaulted === true,
              conditional: {
                html: staffMemberAssaultedHtml
              }
            },
            {
              value: false,
              text: "No",
              checked: isStaffAssaulted === false
            }
          ],
          errorMessage: validationErrors | findError('isStaffAssaulted')
      }) }}
      {{ submitButton({
          text: "Confirm and save" if isUpdate else "Continue",
          alternativeHyperlinkHref: isUpdate and ("/csip-records/" + recordUuid)
      }) }}
    </form>
{% endblock %}
